<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Coordenador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">
               

                <!--Comercial-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#cooComercial">Comercial</button>
                        </h5>
                    </div>
                    <div id="cooComercial" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                        href="#cooComercial1" role="tab" aria-controls="pills-home"
                                        aria-selected="true">Coordenador Comercial</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="cooComercial1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p> Graduação completa ou notório saber.</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Utilizar corretamente as ferramentas da empresa.<br>
                                            - Analisar contratos verificando riscos.<br>
                                            - Relacionar-se com o cliente técnico.<br>
                                            - Prospectar clientes que possuam demandas alinhadas com a estratégia da
                                            Radix.<br>
                                            - Fazer o acompanhamento das propostas geradas.<br>
                                            - Acompanhar o Pipeline.<br>
                                            - Entender as necessidades de cada cliente.<br>
                                            - Garantir os níveis de aprovação adequados para cada tipo de proposta.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Office.<br>
                                            - Inglês.<br>
                                            - Conhecimento em tipos de projeto e metodologias de execução.<br>
                                            - Levantamento e Tratamento de Dados e Informações.<br>
                                            - Fluxo de desenvolvimento de projetos.<br>
                                            - Análise Sistêmica.<br>
                                            - Negociação comercial.<br>
                                            - Noções básicas de impostos e tributações.<br>
                                            - Noções contábeis e fiscais.<br>
                                            - Conhecimentos básicos de software, automação e engenharia.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência desejável: 05 anos de experiência em atividades correlatas
                                            (podendo ser considerada experiência de estágio ou afins).
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>- Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--P&C-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#cooPC">Pessoas & Cultura</button>
                        </h5>
                    </div>
                    <div id="cooPC" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#cooPC1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Coordenador BP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#cooPC2" role="tab"
                                        aria-controls="pills-home" aria-selected="true">Coordenador de Desenvolvimento e
                                        Carreira</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="cooPC1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação em Psicologia, Administração de Empresas ou Pedagogia /
                                            Pós-Graduação na área.</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Realizar e desenvolver projetos/programas, além de ser capaz de colocá-los
                                            em prática, definindo as ações organizacionais necessárias para que se
                                            concretizem.<br>
                                            - Gerar satisfação, atendendo plenamente os diversos públicos da organização
                                            para gerar um equilíbrio empresarial.<br>
                                            - Promover um planejamento integrado para alinhar o plano de RH ao
                                            empresarial, buscando sempre resultados que privilegie o todo.<br>
                                            - Prever riscos e mapear fatores de riscos, checando o impacto de ações
                                            isoladas na estratégia organizacional de forma geral.<br>
                                            - Capacitar e montar uma equipe qualificada para disseminar as estratégicas
                                            que serão aplicadas na empresa é essencial para o sucesso do projeto e das
                                            ações de um business partner.<br>
                                            - Promover a gestão dos indicadores de performance das filiais com base nos
                                            custos.<br>
                                            - Interferir proativamente no clima organizacional, identificando e buscando
                                            solução para problemas de gestão das equipes da área que atende.<br>
                                            - Atuar como representante de RH do negócio, contribuindo no aprendizado dos
                                            gestores para garantir a prática e aderência das políticas de Recursos
                                            Humanos.<br>
                                            - Desenvolver relações externas com as unidades de negócio buscando conhecer
                                            o funcionamento e as práticas das empresas do grupo.<br>
                                            - Assessorar os gestores nas decisões sobre promoções, desligamentos,
                                            transferências e reajustes salariais.<br>
                                            - Coordenar o desdobramento das atividades de RH e correlatas
                                            - Garantir o cumprimento dos prazos e atingimento dos resultados, visando
                                            aumentar o índice da produtividade.<br>
                                            - Apoiar as demais atividades correlatas da área.<br>
                                            - Fazer interface com a Sotreq para temas relacionados a Departamento
                                            Pessoal e relações trabalhistas.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Todos os subsistemas de RH (Recrutamento e Seleção, Treinamento e Desenvolvimento, Gestão de Carreira, Remuneração e Comunicação Interna).
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>7 anos de experiência nas atividades da área.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="cooPC2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação em Psicologia, Administração ou Pedagogia.</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Desenvolver diretrizes da área de desenvolvimento e carreira, visando
                                            assegurar a manutenção de uma cultura inovadora, garantindo a implantação de
                                            programas estratégicos, estimulando o desenvolvimento de competências,
                                            gerando equilíbrio interno e a competitividade externa para a empresa.<br>
                                            - Desenvolver e acompanhar das ações de desenvolvimento dos funcionários e
                                            líderes, assegurando a qualidade dos programas e garantindo altos padrões de
                                            desempenho individual e coletivo.<br>
                                            - Elaborar análises e estudos relacionados com a estrutura organizacional,
                                            visando fornecer subsídios para as políticas de planejamento de sucessões e
                                            desenvolvimento de pessoal.<br>
                                            - Aprovar e analisar os casos de alterações de cargos, promoções,
                                            transferências e outros tipos de movimentação de pessoal, observando as
                                            normas e procedimentos aplicáveis, visando a contribuir para a tomada de
                                            decisões nesses assuntos.<br>
                                            - Participar dos comitês de gente, orientando sobre os assuntos em pauta,
                                            fornecendo informações para facilitar o processo de análise, avaliação e
                                            classificação de pessoal.<br>
                                            - Fomentar as práticas de comunicação interna, garantindo que as informações
                                            relevantes da empresa sejam claras e transparentes e assegurando a
                                            proximidade, influência e engajamento de pessoal.<br>
                                            - Gerir a elaboração de relatórios gerenciais, com informações e dados
                                            estatísticos sobre recursos humanos, visando a fornecer subsídios para
                                            decisões e correções de políticas ou procedimentos na área de recursos
                                            humanos.<br>
                                            - Gerir e desenvolver sua equipe, delegando tarefas, comunicando-se de forma
                                            transparente e assertiva, avaliando o desempenho e transmitindo
                                            conhecimento, de forma a ter um time engajado e de alta performance para
                                            garantir os objetivos da organização.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Gestão por competências, treinamento e desenvolvimento, clima
                                            organizacional, cultura organizacional, comunicação interna, noções de
                                            remuneração.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            7 anos de experiência nas atividades da área.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Planejamento-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#cooPla">Planejamento</button>
                        </h5>
                    </div>
                    <div id="cooPla" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#cooPla1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Coordenador de
                                        Planejamento</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#cooPla2"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Coordenador de
                                        Planejamento Corporativo</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="cooPla1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação em Engenharia de Produção ou Administração</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Coletar, analisar e disseminar informações sobre o desempenho dos projetos
                                            estratégicos através de relatórios padronizados com o objetivo de aumentar a
                                            visibilidade dos resultados dos mesmos perante a alta liderança.<br>
                                            - Garantir a aderência por parte dos líderes de projeto à metodologia,
                                            verificando periodicamente os entregáveis de gerenciamento de projeto, a fim
                                            de corrigir possíveis desvios e/ou otimizando metodologia e ferramentas
                                            (melhoria contínua).<br>
                                            - Liderança nas frentes de articulação e evolução contínua da estratégia da
                                            empresa junto à Presidência e CA: portfólio, mercados e geografias,
                                            canais.<br>
                                            - Realizar análises entre orçamento e realizado por meio das demonstrações
                                            financeiras afim de garantir a análise financeira da execução
                                            orçamentária.<br>
                                            - Preservar a excelência nos relatórios e apresentações da área através da
                                            validação dos relatórios gerenciais produzidos pela equipe visando a entrega
                                            de informações claras e concisas.<br>
                                            - Providenciar o aperfeiçoamento das rotinas da área através da
                                            identificação de oportunidades de melhorias das rotinas operacionais
                                            existentes com o objetivo de otimizar do tempo das mesmas.<br>
                                            - Apoiar continuamente no relacionamento com o CA.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - 1 a 2 anos trabalhando em áreas de inteligência (planejamento
                                            financeiro,
                                            BI,
                                            planejamento estratégico).<br>
                                            - Excel avançado, pensamento analítico e excelente capacidade de
                                            comunicação.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            5 anos de experiência na área de atuação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>- Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.</p>
                                    </div>
                                </div>

                                <div class="tab-pane fade " id="cooPla2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p> Graduação em Engenharia de Produção ou Administração.</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Gerar relatório de previsão de resultados.<br>
                                            - Informar e acompanhar junto à Controladoria a previsão de emissão de Notas
                                            Fiscais.<br>
                                            - Gerar o relatório de alocação.<br>
                                            - Informar à equipe de Compras/Suprimentos o rateio de despesas incorridas
                                            ao longo do mês.<br>
                                            - Garantir que o módulo de gerenciamento de projetos esteja atualizado.

                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - 3 a 5 anos trabalhando em áreas de inteligência (planejamento financeiro,
                                            BI,
                                            planejamento
                                            estratégico).<br>
                                            - Excel avançado, pensamento analítico e excelente capacidade de
                                            comunicação.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            5 anos de experiência na área de atuação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>- Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--TI-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#cooTI">TI</button>
                        </h5>
                    </div>
                    <div id="cooTI" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#cooTI1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Coordenador de
                                        TI</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="cooTI1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação em Tecnologia de Informação.</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p> - Definir a estratégia da área.<br>
                                            - Garantir os recursos e serviços necessários ao atendimento das
                                            demandas.<br>
                                            - Garantir a segurança da informação.<br>
                                            - Definir KPIs.<br>
                                            - Contribuir para melhoria contínua.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>- Gestão de redes.<br>
                                            - Gestão de Servidores.<br>
                                            - Manutenção de hardware.<br>
                                            - Conhecimento de sistemas operacionais e pacotes de aplicativos para
                                            escritório.<br>
                                            - Conhecimento de instalação de aplicativos.<br>
                                            - Conhecimento básico de telefonia.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>5 anos de experiência na área de atuação.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>- Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SGI-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#cooSGI">SGI</button>
                        </h5>
                    </div>
                    <div id="cooSGI" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#cooSGI1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Coordenador de
                                        SGI</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="cooSGI1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação em qualquer área.</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p> - Controlar o Sistema de Gestão Integrado (SGI).<br>
                                            - Elaborar e acompanhar os indicadores.<br>
                                            - Gerir os riscos e oportunidades da empresa.<br>
                                            - Ministrar treinamentos.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Vivência em empresas de médio e/ou grande porte, na área de qualidade,
                                            meio
                                            ambiente, saúde e segurança ocupacional.<br>
                                            - Experiência em sistema de gestão com certificação ISO 9001:2015.<br> ISO
                                            14001:2015, OHSAS 18001.<br>
                                            - Inglês avançado/fluente.<br>
                                            - Domínio do Pacote Office.<br>
                                            - Domínio das normas ISO 9001:2015, ISO 14001:2015 e OHSAS 18001.<br>
                                            - Auditor Interno.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            5 anos na área de atuação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>