<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Técnico</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#tecsgi">SGI</button>
                        </h5>
                    </div>
                    <div id="tecsgi" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#tecsgi1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Técnico de Segurança
                                        do Trabalho</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="tecsgi1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Ensino médio técnico em Segurança do Trabalho.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Mapear riscos, implementar medidas de prevenção e controle, executando
                                            melhorias.<br>
                                            - Garantir a saúde e a integridade física dos empregados.<br>
                                            - Elaborar documentos do sistema de gestão integrado sobre saúde e segurança
                                            do trabalho.<br>
                                            - Especificar, distribuir e controlar a entrega de Equipamento de Proteção
                                            Individual e Ergonômicos.<br>
                                            - Preparar e aplicar treinamentos de segurança do trabalho.<br>
                                            - Elaborar e divulgar material de conscientização sobre saúde, meio ambiente
                                            e segurança.<br>
                                            - Apoiar na execução dos simulados planejados.<br>
                                            - Direcionar e organizar as eleições e reuniões da CIPA.<br>
                                            - Confeccionar e/ou controlar documentos exigidos pelos clientes e/ou
                                            legalmente que envolvam aspectos de segurança do trabalho, bem como
                                            mantê-los organizados, atualizados e acessíveis.<br>
                                            - Executar levantamento dos aspectos impactos e perigo e riscos das
                                            atividades laborais e propor medidas de controle.<br>
                                            - Monitorar as manutenções periódicas.<br>
                                            - Investigar e cadastrar acidentes e incidentes.<br>
                                            - Fazer inspeções e controlar produtos químicos.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Inglês básico/intermediário.<br>
                                            - Domínio do Pacote Office.<br>
                                            - Preferencialmente Normas Regulamentadoras.<br>
                                            - Preferencialmente Interpretação da Norma NBR ISO - 14001:2015 e ISO
                                            - 45001:2018.<br>
                                            - Preferencialmente Auditoria interna.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            2 anos na área de atuação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>