<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Assistente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">

                <!--Administrativo-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#assadm">Administrativo</button>
                        </h5>
                    </div>
                    <div id="assadm" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#assadm1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Assistente Administrativo I - Assistente de
                                        Infra</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#assadm2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Assistente Administrativo II -Assistente de
                                        Suprimentos</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="assadm1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Ensino Médio</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>- Realizar atividades de manutenção predial geral.<br>
                                            - Realizar o controle e manutenção das casas de máquinas.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Rotinas de manutenção predial, elétrica, hidráulica e civil.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            2 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="assadm2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Ensino Médio</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Abrir chamados para criação/ampliação de fornecedores e materiais,
                                            acompanhando os trâmites
                                            dos chamados.<br>
                                            - Auxiliar no controle dos rateios.<br>
                                            - Acompanhar a realização dos pagamentos.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            -Rotinas administrativas, conhecimento em informática (Excel e Word) / bons
                                            conhecimentos de gramática e escrita formal / desenvoltura com o sistema
                                            utilizado pela empresa.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            1 ano em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Com & MKT-->
                <div class="card">
                    <div class="card-header" id="headingOne2">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#commkt">Comunicação & Marketing</button>
                        </h5>
                    </div>
                    <div id="commkt" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#commkt1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Assistente de
                                        Marketing</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="commkt1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação incompleto em Administração ou Comunicação Social (Publicidade,
                                            Marketing, Relações
                                            Públicas).
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>- Apoiar na participação da empresa em eventos.<br>
                                            - Apoiar às iniciativas das áreas de operações e áreas de apoio da Radix.<br>
                                            - Apoiar as ações de branding.<br>
                                            - Apoiar as ações que impulsionam o crescimento da empresa, colaborar para a
                                            geração de novas
                                            oportunidades de negócio. <br>
                                            - Atuar em ações que contribuam para o clima da empresa.</p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>- Branding.<br>
                                            - Produção de Eventos.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            1 ano na área de atuação
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Planejamento-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#asspla">Planejamento</button>
                        </h5>
                    </div>
                    <div id="asspla" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#asspla1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Assistente de
                                        Planejamento</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade  show active" id="asspla1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Ensino médio completo.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Receber, conferir, organizar, armazenar e/ ou compartilhar documentos,
                                            informações e
                                            materiais sob sua responsabilidade.<br>
                                            - Realizar levantamentos, controles e registros de dados e informações
                                            relativas à sua área de
                                            atuação.<br>
                                            - Prestar atendimento e orientar clientes e fornecedores internos, em
                                            assuntos pertinentes ao
                                            seu campo de trabalho, baseando-se nas avaliações efetuadas e normas e
                                            procedimentos vigente.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Estágio em área correlata é desejável.<br>
                                            - Pacote Office com ênfase em Excel, Access desejável.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            1 ano em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SGI-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#asssgi">SGI</button>
                        </h5>
                    </div>
                    <div id="asssgi" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#asssgi1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Assistente de Qualidade - Auditor de
                                        Qualidade</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade  show active" id="asssgi1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação em qualquer área.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Auditar baseline organizacional.<br>
                                            - Identificar e monitorar as não conformidades.<br>
                                            - Realizar treinamentos.</p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Inglês básico/intermediário.<br>
                                            - Domínio do Pacote Office.<br>
                                            - Preferencialmente Interpretação da Norma NBR ISO 9001:2015.<br>
                                            - Preferencialmente Auditoria interna.<br>
                                            - Preferencialmente curso do CMMi.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            1 ano na área de atuação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--P&C-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#asspec">Pessoas & Cultura</button>
                        </h5>
                    </div>
                    <div id="asspec" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#asspec1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Assistente de P&C - Assistente de
                                        Seleção</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="asspec1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Ensino médio.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atender os candidatos para garantir o envio da documentação necessária dentro do prazo estabelecido.<br>
                                            - Realizar a integração dos novos colaboradores, munindo-os de informações sobre A Radix, seus principais clientes, Missão, Visão e Valores. Bem como
                                            informações de controle de ponto, contra-cheques, solicitação de férias, políticas e normas da empresa.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Documentação de admissão e conhecimento da empresa.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            1 ano na área de atuação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>