<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Gerente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#cooadministrativo">Administrativo</button>
                        </h5>
                    </div>
                    <div id="cooadministrativo" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                        href="#cooadministrativo1" role="tab" aria-controls="pills-home"
                                        aria-selected="true">Gerente Administrativo</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="cooadministrativo1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação em Administração</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p> - Garantir a estratégia das áreas de suprimentos e infra.</p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento em finanças (contas a pagar, a receber, tesouraria) e
                                            conhecimento básico em contabilidade e rotinas administrativas.<br>
                                            - Conhecimentos para planejar, organizar, coordenar e controlar as
                                            atividades
                                            e pessoas (Gestão de Projetos).<br>
                                            - Conhecimento em informática (Excel e Word) / boa comunicação escrita/
                                            desenvoltura com o sistema utilizado pela empresa/conhecimento da língua
                                            inglesa.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>7 anos de experiência em atividades correlatas.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>- Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#coomkt">Comunicação e Marketing</button>
                        </h5>
                    </div>
                    <div id="coomkt" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#coomkt1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Gerente de
                                        Comunicação e Marketing</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="coomkt1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação em Comunicação Social</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Acompanhar as tendências do mercado de atuação da empresa e da área.<br>
                                            - Definir a estratégia de comunicação e marketing.<br>
                                            - Planejar a estratégia e a inteligência dos eventos.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência em gestão de equipe, gestão de crise, antecipação de problemas,
                                            priorização com baixo orçamento, comunicação interna, marketing comercial e
                                            de relacionamento.<br>
                                            Ferramentas de gestão de projetos de comunicação e marketing.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            10 anos de experiência na área de atuação e 5 anos em gestão de equipes.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>- Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#pc">P&C</button>
                        </h5>
                    </div>
                    <div id="pc" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pc1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Gerente de Recursos
                                        Humanos</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pc1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p> Graduação completa em Psicologia, Administração de Empresas ou Pedagogia.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Estabelecer diretrizes gerais das atividades da área de gente, visando
                                            assegurar a manutenção de uma cultura inovadora, garantindo a implantação de
                                            programas estratégicos, estimulando o desenvolvimento de competências,
                                            gerando equilíbrio interno e a competitividade externa para a empresa.<br>
                                            - Assegurar que os processos, projetos e programas de todas as atividades
                                            desenvolvidas na área de recursos humanos, sejam implementados de forma a
                                            criar um ambiente que estimule o desenvolvimento e crescimento da
                                            organização.<br>
                                            - Atuar como facilitador e agente contínuo da mudança e transformação
                                            digital que a empresa almeja.<br>
                                            - Ser responsável por desenvolver, divulgar e acompanhar junto com os
                                            stakeholders da empresa as melhores práticas da área criando e modelando
                                            estratégias de gente de acordo com a necessidade e demanda do negócio,
                                            garantindo a atração, desenvolvimento e retenção dos funcionários, líderes e
                                            força de vendas.<br>
                                            - Agir como conselheira e parceira do negócio perante os stakeholders,
                                            provendo suporte e coaching para a organização e seus líderes, apoiando o
                                            gerenciamento e desenvolvimento dos líderes e suas equipes, criando uma
                                            ambiente propício para uma melhor cultura organizacional e de acordo com os
                                            objetivos do negócio.<br>
                                            - Inovar e desenvolver melhores práticas e iniciativas para fazer com que a
                                            cia tenha sua marca e propósitos consolidados, a fim de atrair os melhores
                                            talentos, mantendo sua reputação e competitividade no mercado que atua.<br>
                                            - Gerir e desenvolver sua equipe, delegando tarefas, comunicando-se de forma
                                            transparente e assertiva, avaliando o desempenho e transmitindo
                                            conhecimento, de forma a ter um time engajado e de alta performance para
                                            garantir os objetivos da organização.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>- Atuação generalista em RH.</p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>10 anos de experiência nas atividades da área e 05 anos na gestão de equipes.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>- Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#comercial">Comercial</button>
                        </h5>
                    </div>
                    <div id="comercial" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#comercial1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Gerente Comercial</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="comercial1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação completa ou notório saber.</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>- Gerenciar as atividades de vendas alinhando a estratégias e diretrizes da
                                            empresa.<br>
                                            - Estabelecer o que será feito por cada um, bem como prazo limite para a
                                            conclusão.<br>
                                            - Relacionar-se com o cliente técnico e estratégico.<br>
                                            - Prospectar clientes que possuam demandas alinhadas com a estratégia da
                                            Radix.<br>
                                            - Gerir uma carteira de projetos junto ao cliente.<br>
                                            - Fazer o acompanhamento das propostas geradas.<br>
                                            - Acompanhar o Pipeline.<br>
                                            - Entender as necessidades de cada cliente.<br>
                                            - Garantir os níveis de aprovação adequados para cada tipo de proposta.<br>
                                            - Identificar necessidades de desenvolvimento e treinamento da equipe e ser
                                            um facilitador para o mesmo.<br>
                                            - Definir os objetivos e metas da equipe, de forma clara e prática. Dando
                                            subsídio para o alcance das mesmas.<br>
                                            - Suportar a diretoria com as informações e indicadores necessários.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>- Office.<br>
                                            - Inglês.<br>
                                            - Conhecimento em tipos de projeto e metodologias de execução.<br>
                                            - Levantamento e Tratamento de Dados e Informações.<br>
                                            - Fluxo de desenvolvimento de projetos.<br>
                                            - Análise Sistêmica.<br>
                                            - Negociação comercial.<br>
                                            - Conhecimentos básicos de software, automação e engenharia.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>- Experiência desejável: 05 anos de experiência em atividades correlatas
                                            (podendo ser considerada experiência de estágio ou afins).</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>- Gestão do negócio.<br>
                                            - Gestão de pessoas.<br>
                                            - Alianças estratégicas.<br>
                                            - Comunicação.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>