<button type="button" class="btn-icon sof-tes sof" data-toggle="modal" data-target="#Modalsof-tes">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon sof-dev sof" data-toggle="modal" data-target="#Modalsof-dev">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon sof-anr sof" data-toggle="modal" data-target="#Modalsof-anr">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon sof-lid sof empty" data-toggle="modal" data-target="#Modalsof-lid">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon sof-coo sof empty" data-toggle="modal" data-target="#Modalsof-coo">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon sof-ger sof empty" data-toggle="modal" data-target="#Modalsof-ger">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon sof-con sof empty" data-toggle="modal" data-target="#Modalsof-con">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon sof-geg sof empty" data-toggle="modal" data-target="#Modalsof-geg">
    <img src="search.png" />
</button>