<button type="button" class="btn-icon bus-ass bus" data-toggle="modal" data-target="#Modalbus-ass">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon bus-aux bus" data-toggle="modal" data-target="#Modalbus-aux">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon bus-ana bus" data-toggle="modal" data-target="#Modalbus-ana">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon bus-coo bus" data-toggle="modal" data-target="#Modalbus-coo">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon bus-esp bus" data-toggle="modal" data-target="#Modalbus-esp">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon bus-ger bus" data-toggle="modal" data-target="#Modalbus-ger">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon bus-sup bus" data-toggle="modal" data-target="#Modalbus-sup">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon bus-tec bus" data-toggle="modal" data-target="#Modalbus-tec">
    <img src="search.png" />
</button>