<button type="button" class="btn-icon aut-dev aut" data-toggle="modal" data-target="#Modalaut-dev">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-tec aut" data-toggle="modal" data-target="#Modalaut-tec">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-ast aut" data-toggle="modal" data-target="#Modalaut-ast">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-ana1 aut" data-toggle="modal" data-target="#Modalaut-ana">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-eng1 aut" data-toggle="modal" data-target="#Modalaut-eng1">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-lid1 aut" data-toggle="modal" data-target="#Modalaut-lid1">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-coo aut" data-toggle="modal" data-target="#Modalaut-coo">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-eng3 aut" data-toggle="modal" data-target="#Modalaut-eng3">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-con aut" data-toggle="modal" data-target="#Modalaut-con">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-ger aut" data-toggle="modal" data-target="#Modalaut-ger">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon aut-gerg aut" data-toggle="modal" data-target="#Modalaut-gerg">
    <img src="search.png" />
</button>

