<button type="button" class="btn-icon des-web des" data-toggle="modal" data-target="#Modaldes-web">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon des-coo des" data-toggle="modal" data-target="#Modaldes-coo">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon des-lid des" data-toggle="modal" data-target="#Modaldes-lid">
    <img src="search.png" />
</button>
<button type="button" class="btn-icon des-ger des" data-toggle="modal" data-target="#Modaldes-ger">
    <img src="search.png" />
</button>