    body {
        padding: 1% 5%;
    }

    .mapa {
        width: 1290px;
        height: auto;
        float: left;
        position: absolute;
        display: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .wrapper {
        width: 1290px;
        left: 30px;
        height: 813px;
        position: absolute;
        background-image: url(Mapa3.jpg);
        background-size: 1290px 813px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #fff;
    }

    .btn-icon {
        border: none;
        padding: 0;
        margin: 0;
        z-index: 1;
        position: absolute;
        height: auto;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50px;
        opacity: .8;
    }

    .btn-icon:hover {
        opacity: 1;
    }

    .btn-icon img {
        vertical-align: middle;
        border-style: none;
        width: 16px;
        height: auto;
        margin: 0 0 4px 0;
    }

    .full {
        float: right;
        border: none;
        font-size: 14px;
        padding: 10px;
        background: #e6e6e6;
        border-radius: 0 0 0 10px;
        font-weight: 500;
    }

    .full:hover {
        background: #efefef;
    }

    /*AreaDesign*/
    .des {
        background: #731a4b;
        border-radius: 50px;
    }

    .des svg {
        color: #fff;
    }

    .des-web {
        top: 436px;
        left: 722px;
    }

    .des-coo {
        top: 436px;
        left: 870px;
    }

    .des-lid {
        top: 505px;
        left: 903px;
    }

    .des-ger {
        top: 436px;
        left: 1019px;
    }

    /*AreaAutomacao*/
    .aut {
        background: #0083ab;
    }

    .aut-dev {
        top: 570px;
        left: 794px;
    }

    .aut-dev2 {
        top: 475px;
        left: 569px;
    }

    .aut-dev3 {
        top: 502px;
        left: 610px;
    }

    .aut-dev4 {
        top: 476px;
        left: 652px;
    }

    .aut-dev5 {
        top: 437px;
        left: 651px;
    }

    .aut-tec {
        top: 635px;
        left: 609px;
    }

    .aut-ast {
        top: 706px;
        left: 569px;
    }

    .aut-ana {
        top: 505px;
        left: 535px;
    }

    .aut-ana1 {
        top: 505px;
        left: 535px;
    }

    .aut-eng {
        top: 705px;
        left: 830px;
    }

    .aut-eng1 {
        top: 710px;
        left: 715px;
    }

    .aut-eng3 {
        top: 710px;
        left: 865px;
    }

    .aut-lid1 {
        top: 635px;
        left: 905px;
    }

    .aut-coo {
        top: 710px;
        left: 941px;
    }

    .aut-con {
        top: 710px;
        left: 1090px;
    }

    .aut-ger {
        top: 637px;
        left: 1051px;
    }

    .aut-gerg {
        top: 575px;
        left: 1162px;
    }


    /*AreaSoftware*/
    .sof {
        background: #ff5708;
    }

    .sof-tes {
        top: 304px;
        left: 719px;
    }

    .sof-dev {
        top: 172px;
        left: 718px;
    }

    .sof-deva {
        top: 215px;
        left: 719px;
    }

    .sof-devf {
        top: 239px;
        left: 758px;
    }

    .sof-devm {
        top: 216px;
        left: 795px;
    }

    .sof-devo {
        top: 171px;
        left: 795px;
    }

    .sof-anr {
        top: 105px;
        left: 755px;
    }

    .sof-lid {
        top: 304px;
        left: 867px;
    }

    .sof-coo {
        top: 237px;
        left: 830px;
    }

    .sof-ger {
        top: 237px;
        left: 976px;
    }

    .sof-con {
        top: 304px;
        left: 1015px;
    }

    .sof-geg {
        top: 106px;
        left: 977px;
    }

    .sof svg {
        color: #fff;
    }


    /*AreaBusiness*/
    .bus {
        background: green;
    }

    .bus-ass {
        top: 173px;
        left: 575px;
    }

    .bus-aux {
        top: 35px;
        left: 575px;
    }

    .bus-cog {
        top: 143px;
        left: 1015px;
    }

    .bus-ana {
        top: 172px;
        left: 425px;
    }

    .bus-coo {
        top: 233px;
        left: 240px;
    }

    .bus-esp {
        top: 166px;
        left: 280px;
    }

    .bus-ger {
        top: 233px;
        left: 95px;
    }

    .bus-sup {
        top: 35px;
        left: 277px;
    }

    .bus-tec {
        top: 35px;
        left: 425px;
    }

    /*AreaEngenharia*/
    .eng {
        background: purple;
    }

    .eng-eng {
        top: 307px;
        left: 420px;
    }

    .eng-ana {
        top: 438px;
        left: 422px;
    }

    .eng-pro {
        top: 571px;
        left: 346px;
    }

    .eng-des {
        top: 703px;
        left: 346px;
    }

    .eng-arq {
        top: 568px;
        left: 199px;
    }

    .eng-coo {
        top: 441px;
        left: 199px;
    }

    .eng-eng3 {
        top: 441px;
        left: 275px;
    }

    .eng-lid {
        top: 369px;
        left: 235px;
    }

    .eng-ger {
        top: 441px;
        left: 50px;
    }

    .eng-con {
        top: 370px;
        left: 14px;
    }

    .eng-geg {
        top: 568px;
        left: 52px;
    }

    .eng-ass {
        top: 637px;
        left: 460px;
    }


    .empty {
        cursor: not-allowed;
    }

    .empty svg {
        color: #565656;
        cursor: not-allowed;
        opacity: .5;
    }

    @media (min-width: 1200px) {
        .modal-xl {
            max-width: 90%;
        }
    }

    .modal-body h4 {
        color: #338b99;
        font-size: 1rem;
        margin: 0;
        text-align: center;
    }

    .modal-body h3 {
        color: #338b99;
        font-size: 1rem;
        margin: 0;
    }

    .modal-body .txt {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .modal-body .txt p {
        font-size: 12px;
        margin: 0;
    }

    .modal-body .txt ul li {
        font-size: 12px;
        margin: 0;
    }

    .nav-item {
        margin: 0 5px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #458d99;
        background-color: #438d9903;
        border-bottom: solid 5px #448d99;
        border-radius: 0;
    }

    .nav-pills .nav-link {
        border-radius: .25rem;
        color: #438d99;
        border-bottom: solid 5px #efefef;
        border-radius: 0;
    }

    .nav-pills .nav-link.disabled {
        opacity: 0.5;
        border-bottom: solid 5px #cacaca;
        color: gray;
    }

    .modal-header {
        padding: 5px 15px;
    }

    .modal-title {
        color: #438d99;
    }

    .card-header {
        padding: 0;
    }

    .card-header h5 {
        margin-bottom: 0;
    }

    .card-header h5 button {
        color: #438d99;
        font-weight: 500;
    }

    .card-header h5 button:hover {
        color: #438d99;
    }

    .accordion>.card {
        overflow: hidden;
        margin-bottom: 5px;
        border: none;
        border-radius: 5px 5px 0 0;
        border-bottom: solid 2px #448d99 !important;
    }

    .disabled .card-header h5 button {
        color: #e0e0e0 !important;
    }