<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Arquiteto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#ARQ1" role="tab"
                        aria-controls="pills-home" aria-selected="true">Arquiteto I</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#ARQ2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Arquiteto
                        II</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#ARQ3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Arquiteto
                        III</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="ARQ1" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Arquitetura com Registro em Conselho de Fiscalização do Exercício Profissional
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <ul>
                            <li>Elaborar levantamento de campo de instalações existentes;<br>
                                Elaborar desenhos técnicos ( Ex: Implantação, planta baixa, corte,
                                cobertura, fachada, detalhes típicos);<br>
                                Elaborar listas técnicas (EX: Lista de materiais);<br>
                                Elaborar especificações técnicas;<br>
                                Elaborar Requisições de compras (Ex: Requisição de materiais);<br>
                                Elaborar modelo 3D.</li>
                        </ul>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>levantamento de campo de instalações existentes;<br>
                            Desenhos técnicos ( Ex: Implantação, planta baixa, corte, cobertura, fachada,
                            detalhes típicos);<br>
                            Listas técnicas (EX: Lista de materiais);<br>
                            Especificações técnicas;<br>
                            Modelo 3D;<br>
                            Gestão de projetos (desejável).</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Desejável experiência em tecnologias / linguagens de programação.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="ARQ2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Arquitetura com Registro em Conselho de Fiscalização do Exercício Profissional
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>Verificar a documentação técnica elaborada por arquiteto I ou II;<br>
                            Elaborar Relatórios Técnicos (EX: Memoriais descritivos, Relatórios de visitas
                            técnicas);<br>
                            Realizar Visitas técnicas;<br>
                            Manter a comunicação com a equipe técnica das demais disciplinas, afim de evitar
                            interferências de projeto;<br>
                            Trabalhar com foco em evitar o retrabalho;<br>
                            Fazer Coaching de arquiteto I;<br>
                            Verificar de documento de outras Disciplinas;<br>
                            Elaborar de Lista de Documentos;<br>
                            Responder consulta técnica do fornecedor e do cliente.</p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>Relatórios Técnicos (EX: Memoriais descritivos, Relatórios de visitas
                            técnicas);<br>
                            Conhecer documentos de outras Disciplinas;<br>
                            Conhecimentos de Gestão de Projetos;<br>
                            Habilidade para Desenvolvimento de arquitetos (a) I.</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 2 (dois) anos em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="ARQ3" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Arquitetura com Registro em Conselho de Fiscalização do Exercício Profissional
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>Verificar e aprovar a documentação técnica elaborada ou verificada por arquiteto
                            (a) I ou II ou III;<br>
                            Elaborar Pareceres Técnicos (Ex: Parecer técnico de fornecedores de materiais e
                            equipamentos),;<br>
                            Elaborar Estimativas para novos projetos ;<br>
                            Elaborar Procedimentos internos de boas práticas de engenharia;<br>
                            Elaborar Relatório de análise de consistência de projetos;<br>
                            Visitas técnicas;<br>
                            Participar na elaboração técnica das propostas, estimando esforços e definindo
                            soluções e equipes;<br>
                            Apoiar diretamente a equipe de planejamento acompanhando a evolução do projeto
                            de modo a cumprir as metas de qualidade, prazo e custo;<br>
                            Ratificar soluções implementada no projeto;<br>
                            Antecipar problemas e tomar ações corretivas evitando prejuízos financeiros, de
                            qualidade, prazo e desmotivação da equipe;<br>
                            Verificar se os requisitos estão sendo atendidos e o cliente está satisfeito com
                            a qualidade e desenvolvimento do projeto;<br>
                            Apoiar na identificação de novas oportunidades junto aos clientes;<br>
                            Manter bom relacionamento com o cliente, garantindo sua satisfação e a
                            manutenção do mesmo a longo prazo.</p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>Análise de consistência de projetos;<br>
                            Saber estimar esforços e definindo soluções e equipes;<br>
                            Proatividade para antecipar problemas e tomar ações corretivas;<br>
                            Prospecção de novos projetos;<br>
                            Habilidade para desenvolvimento de arquitetos (a) II e I.</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 4 (quatro) anos em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>