<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Desenhista I</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#desenhista1" role="tab"
                        aria-controls="pills-home" aria-selected="true">Arranjo e Tubulação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#desenhista2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Civil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#desenhista3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Elétrica e
                        Instrumentação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#desenhista4" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Estruturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#desenhista5" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Processo e
                        Segurança</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="desenhista1" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Ensino Médio - Técnico</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>Elaborar documentação dentro do prazo, com qualidade técnica e propor melhorias.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>Conhecimento de desenhos de arranjo e tubulação (layout, planta de tubulação,
                            isométricos);<br>
                            Experiência para elaborar lista de materiais;<br>
                            Conhecimento básico em modelagem computacional em maquete eletrônica (PDMS,
                            AutoCAD, etc);<br>
                            Conhecimento básico em ferramentas de desenho 2D e 3D tais com autocad,
                            microstation e outros;</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 1 (um) ano em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade " id="desenhista2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Ensino Médio - Técnico</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>Elaborar documentação dentro do prazo, com qualidade técnica e propor melhorias.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>Conhecimento básico em modelagem computacional em maquete eletrônica (PDMS, SMART
                            MARINE, revit, etc);;<br>
                            Conhecimento básico em ferramentas de desenho 2D e 3D tais com autocad,
                            microstation e outros;</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 1 (um) ano em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade " id="desenhista3" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Ensino Médio - Técnico</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>Elaborar documentação dentro do prazo, com qualidade técnica e propor
                            melhorias;<br>
                            Elaborar desenhos de elétrica e instrumentação (arquitetura de sistemas,
                            encaminhamentos, diagramas unifilares, detalhes típicos de instalação, diagramas
                            de interconexão, etc);</p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>Experiência para elaborar lista de materiais;<br>
                            Conhecimento básico em modelagem computacional em maquete eletrônica (PDMS,
                            AutoCAD, SMART MARINE etc);<br>
                            Conhecimento básico em ferramentas de desenho 2D e 3D tais com autocad,
                            microstation e outros;</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 1 (um) ano em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade " id="desenhista4" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Ensino Médio - Técnico</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>Elaborar documentação dentro do prazo, com qualidade técnica e propor melhorias.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>Conhecimento básico em modelagem computacional em maquete eletrônica (PDMS, SMART
                            MARINE, revit, etc);<br>
                            Conhecimento básico em ferramentas de desenho 2D e 3D tais com autocad,
                            microstation e outros;</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 1 (um) ano em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade " id="desenhista5" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Ensino Médio - Técnico</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>Elaborar documentação dentro do prazo, com qualidade técnica e propor melhorias.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>Conhecimento em desenhos de Processo e Segurança (P&IDs, PFD's, plantas de
                            segurança, planta combate a incêndio, detalhes típicos);<br>
                            Conhecimento básico em modelagem computacional em maquete eletrônica (PDMS,
                            SMART MARINE, revit, etc);<br>
                            Conhecimento básico em ferramentas de desenho 2D e 3D tais com autocad,
                            microstation e outros;</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 1 (um) ano em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>