<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Projetista</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#projcivil">Civil</button>
                        </h5>
                    </div>
                    <div id="projcivil" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#projcivil1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Projetista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#projcivil2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Projetista II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#projcivil3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Projetista
                                        III</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="projcivil1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Ensino Médio Completo - Técnico</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p> Elaborar desenhos de civil (drenagem, estruturas, terraplanagem,
                                            instalações);
                                            - Elaborar lista de materiais;
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>Conhecimento intermediário em modelagem computacional em maquete
                                            eletrônica (PDMS, SMART MARINE, revit, etc);
                                            - Conhecimento Intermediário em ferramentas de desenho 2D e 3D
                                            tais com autocad, microstation e outros;</p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 3 (três) anos em atividades correlatas.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="projcivil2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Ensino Médio Completo - Técnico</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p> Elaborar/Verificação de desenhos de civil (drenagem, estruturas,
                                            terraplanagem, instalações)
                                            - Elaborar lista de materiais
                                            - Propor soluções em parceria com o engenheiro civil de forma a
                                            viabilizar demandas da disciplina;
                                            - Visita a campo para levantamento
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>Conhecimento sólido em modelagem computacional em maquete
                                            eletrônica (PDMS, SMART MARINE, revit, etc)
                                            - Conhecimento sólido em ferramentas de desenho 2D e 3D tais com
                                            autocad, microstation e outros
                                            - Conhecimento em ferramentas específicas para modelagem de
                                            civil (tekla, civil 3d, revit civil) </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 5 (cinco) anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="projcivil3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Ensino Médio Completo - Técnico</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar/Verificação de desenhos de civil (drenagem, estruturas,
                                            terraplanagem, instalações)
                                            - Elaborar / Verificar lista de materiais
                                            - Propor soluções em parceria com o engenheiro civil de forma a
                                            viabilizar demandas da disciplina;
                                            - Visita a campo para levantamento
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>Conhecimento avançado em modelagem computacional em maquete
                                            eletrônica (PDMS, SMART MARINE, revit, etc)
                                            - Conhecimento avançado em ferramentas de desenho 2D e 3D tais
                                            com autocad, microstation e outros
                                            - Conhecimento avançado em ferramentas específicas para
                                            modelagem de civil (tekla, civil 3d, revit civil) </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 7 (sete) anos em atividades correlatas.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#projestru">Estruturas</button>
                        </h5>
                    </div>
                    <div id="projestru" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#projestru1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Projetista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#projestru2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Projetista II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#projestru3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Projetista
                                        III</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="projestru1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Ensino Médio Completo - Técnico</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar desenhos de estruturas (concreto, aço, naval);<br>
                                            Elaborar lista de materiais;
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>Conhecimento intermediário em modelagem computacional em maquete
                                            eletrônica (PDMS, SMART MARINE, revit, etc);<br>
                                            Conhecimento Intermediário em ferramentas de desenho 2D e 3D
                                            tais com autocad, microstation e outros;<br>
                                            Conhecimento intermediário em modelagem computacional de
                                            estruturas (tekla, Advance Steel, etc);</p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 3 (três) anos em atividades correlatas.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="projestru2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Ensino Médio Completo - Técnico</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar/Verificação de desenhos de estruturas (concreto, aço,
                                            naval);<br>
                                            Elaborar lista de materiais;<br>
                                            Propor soluções em parceria com o engenheiro civil de forma a
                                            viabilizar demandas da disciplina;;<br>
                                            Visita a campo para levantamento;
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>Conhecimento sólido em modelagem computacional em maquete
                                            eletrônica (PDMS, SMART MARINE, revit, etc);<br>
                                            Conhecimento sólido em ferramentas de desenho 2D e 3D tais com
                                            autocad, microstation e outros;<br>
                                            Conhecimento em ferramentas específicas para modelagem de
                                            estruturas (tekla, Advance Steel) ;<br>
                                            Conhecimento em fabricação de estruturas metálicas (shop
                                            drawing) ou fabricação de estruturas de concreto armado.</p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 5 (cinco) anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="projestru3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Ensino Médio Completo - Técnico</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar/Verificação de desenhos de estruturas (concreto, aço,
                                            naval);<br>
                                            Elaborar / Verificar lista de materiais;<br>
                                            Propor soluções em parceria com o engenheiro civil de forma a
                                            viabilizar demandas da disciplina;<br>
                                            Visita a campo para levantamento;
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>Conhecimento avançado em modelagem computacional em maquete
                                            eletrônica (PDMS, SMART MARINE, revit, etc);<br>
                                            Conhecimento avançado em ferramentas de desenho 2D e 3D tais com
                                            autocad, microstation e outros;<br>
                                            Conhecimento avançado em ferramentas específicas para modelagem
                                            de estruturas (tekla, Advance Steel) ;<br>
                                            Conhecimento avançado em fabricação de estruturas metálicas
                                            (shop drawing) ou fabricação de estruturas de concreto armado;
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 7 (sete) anos em atividades correlatas.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#projarranjo1">Projetista de Arranjo e Tubulação</button>
                        </h5>
                    </div>
                    <div id="projarranjo1" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#projeletricaInstr">Projetista de Elétrica e
                                Instrumentação</button>
                        </h5>
                    </div>
                    <div id="projeletricaInstr" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#projProcessoSeg">Projetista de Processo e Segurança</button>
                        </h5>
                    </div>
                    <div id="projProcessoSeg" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>