<div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Líder Técnico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#englid1" role="tab"
                            aria-controls="pills-home" aria-selected="true">Arranjo & Tubulação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid2" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Automação de Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid3" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Civil e Estruturas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid4" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Elétrica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid5" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Instrumentação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid6" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Mecânica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid7" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Petróleo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid8" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Planejamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid9" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Processos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid10" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Segurança</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#englid11" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Telecomunicações</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
    
                    <div class="tab-pane fade show active" id="englid1" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Arranjo & Tubulação.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Arranjo &
                                Tubulação, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid2" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Automação de Projetos.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Automação
                                de Projetos, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid3" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Civil e Estruturas.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
    
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Automação
                                de Projetos, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid4" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
    
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Elétrica.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Estudos Elétricos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).<br>
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Automação
                                de Projetos, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid5" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
    
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Instrumentação.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).<br>
    
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Automação
                                de Projetos, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid6" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Mecânica.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).<br>
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Mecânica,
                                Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid7" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Petróleo.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).<br>
    
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Automação
                                de
                                Projetos, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid8" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Auxiliar coordenadores e gerentes no planejamento incial dos projetos.<br>
                                - Elaborar EAPs e forecast com acompanhamento de gerentes e coordenadores dos projetos.<br>
                                - Elaborar a lista de documentos geral, associada ao cronograma de execução das atividades
                                específicas planejadas pelos líderes das disciplinas do projeto.<br>
                                - Garantir atualização periódica dos custos e receitas de projetos.<br>
                                - Ser responsável pelo acompanhamento e solicitação de correções de lançamentos incorretos
                                no SAP.<br>
                                - Garantir atualização das alocações e receitas no Salix.<br>
                                - Analisar criticamente MVs dos projetos.<br>
                                - Prestar treinamento e suporte aos membros da equipe.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Planejamento de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Inglês (leitura avançada, escrita intermediária).
    
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 3 (três) anos em atividades relacionadas à disciplina de
                                Planejamento,
                                Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid9" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Processos.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Simuladores de Processos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).<br>
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Automação
                                de Projetos, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid10" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Segurança.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Estudos de Segurança.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).<br>
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Automação
                                de Projetos, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
    
                    <div class="tab-pane fade" id="englid11" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>
                                - Engenharia com registro no CREA.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Desenvolver projetos conceituais, Básicos, FEED e de Detalhamento.<br>
                                - Acompanhar e garantir consistência e qualidade técnica em todas as etapas do projeto.<br>
                                - Garantir o atendimento às especificações técnicas e normas de projeto.<br>
                                - Elaborar a lista de documentos, associada ao cronograma de execução das atividades
                                específicas da disciplina de Telecomunicações.<br>
                                - Elaborar consultas técnicas ao cliente.<br>
                                - Liderar reuniões técnicas com o cliente e com a equipe.<br>
                                - Liderar Design Review e fazer a gestão do Relatório de ações e recomendações provenientes
                                das sessões.<br>
                                - Alocar e acomodar recursos entre a equipe para atender aos requisitos do projeto,
                                respeitando o cronograma da disciplina e suas interdependências com as outras disciplinas do
                                projeto.<br>
                                - Prestar treinamento e suporte aos membros da equipe.<br>
                                - Prestar suporte à área de Planejamento.<br>
                                - Prestar suporte técnico especializado durante todo o processo de aquisição de
                                equipamentos/skids, da fase de requisição de propostas à análise de documentação de
                                fornecedor.<br>
                                - Participar na elaboração de propostas técnicas junto à área Comercial, estimando esforços
                                e definindo soluções e equipes.
    
                            </p>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>
                                - Análise de consistência de documentos técnicos.<br>
                                - Execução de projetos de engenharia básica e de detalhamento onshore e offshore.<br>
                                - Normas Regulamentadoras.<br>
                                - Inglês (leitura avançada, escrita intermediária).<br>
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>
                                - Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina de Automação
                                de Projetos, Coordenação e/ou Fiscalização de projetos.
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao cliente.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>