<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Assistente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#engass" role="tab"
                        aria-controls="pills-home" aria-selected="true">Assistente de Documentação e Qualidade</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="engass" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Ensino Médio Completo.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <ul>
                            - Realizar a emissão dos documentos de projeto dentro do prazo, atendendo aos padrões de
                            qualidade estabelecidos pelo cliente.<br>
                            - Diligenciar a documentação técnica de fornecedores.<br>
                            - Manter controles atualizados para consultas.<br>
                            - Prestar informações coerentes ao Analista de Documentação e Qualidade de forma
                            periódica.<br>
                            - Seguir os procedimentos do SGI e demais procedimentos internos.
                        </ul>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Office.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Desejável experiência em tecnologias / linguagens de programação.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>