<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Engenharia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">
                <!--Civil-->
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#engenheiro1">Civil</button>
                        </h5>
                    </div>
                    <div id="engenheiro1" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Instrumentação-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#engenheiro2">Instrumentação</button>
                        </h5>
                    </div>
                    <div id="engenheiro2" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#INS1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Engenheiro I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#INS2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Engenheiro II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="INS1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia Química, Engenharia de Petróleo, Engenharia de
                                            Controle e Automação com registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar lista de instrumentos, Entradas e Saídas e Cabos;</br>
                                            Elaborar Diagramas de interligação e controle;</br>
                                            Especificar sistemas de controle e segurança;</br>
                                            Dimensionamento de Válvulas de Controle, Válvulas de Alívio e
                                            Segurança, Válvula Reguladora de pressão e elementos primário de
                                            vazão;</br>
                                            Propor utilização ferramentas para otimização das atividades
                                            rotineiras; </br>
                                            Possuir habilidades com as ferramentas de desenho 2D tais com
                                            autocad e microstation e ferramentas de banco de dados tais como
                                            Smartplant instrumentation e Aveva instrumentation;</br>
                                            Conhecimento sobre interfaces nos projetos de engenharia;</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 2 anos em atividades correlatas.</br>
                                            Recomendado 2 anos de experiência como Analista II. </br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="INS2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia Química, Engenharia de Petróleo, Engenharia de
                                            Controle e Automação com registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar/Verificar/Aprovar lista de instrumentos, Entradas e
                                            Saídas e Cabos;</br>
                                            Elaborar/Verificar/Aprovar Especificação de sistemas de controle
                                            e segurança;</br>
                                            Elaborar/Verificar/Aprovar Diagramas de interligação, lógico e
                                            de controle;</br>
                                            Elaborar/Verificar/Aprovar Dimensionamento de Válvulas de
                                            Controle, Válvulas de Alívio e Segurança, Válvula Reguladora de
                                            pressão e elementos primário de vazão;</br>
                                            Propor utilização ferramentas para otimização das atividades
                                            rotineiras; </br>
                                            Possuir habilidades com as ferramentas de desenho 2D tais com
                                            autocad e microstation e ferramentas de banco de dados tais como
                                            Smartplant instrumentation e Aveva instrumentation;</br>
                                            Conhecimento sobre interfaces nos projetos de engenharia;</br>
                                            Desenvolver colaboradores compartilhando conhecimento;</br>
                                            Propor solução para os clientes sempre em linha com as novidades
                                            do setor;</br>
                                            Coordenar equipe de instrumentação e Automação nos
                                            projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 5 anos em atividades correlatas.</br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                            Habilidade para ministrar treinamento</br>
                                            Ser capaz de orientar o engenheiro I</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Petróleo-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#engenheiro3">Petróleo</button>
                        </h5>
                    </div>
                    <div id="engenheiro3" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#PET1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Engenheiro I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#PET2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Engenheiro II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="PET1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia de Petróleo com registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Acompanhar atividades dados de produção de óleo e gás, criando
                                            curvas de produção e declínio;</br>
                                            Elaborar documentação relacionada aos processos de prospecção,
                                            exploração, produção e processamento de óleo e gás;</br>
                                            Atuar no dimensionamento de vasos separadores de produção;</br>
                                            Elaborar relatórios de análise de plantas de tratamento de óleo
                                            e gás;</br>
                                            Auxiliar em projetos de desenvolvimento de simuladores e/ou
                                            ferramentas de design de unidades (e suas partes) de operação e
                                            processamento de óleo e gás;</br>
                                            Elaborar relatórios de consolidação de dados de operadores de
                                            óleo e gás para ANP;</br>
                                            Propor utilização ferramentas para otimização das atividades
                                            rotineiras; </br>
                                            Possuir habilidades com as ferramentas de desenho 2D e 3D tais
                                            com autocad, microstation, revit e outros;</br>
                                            Conhecimento sobre interfaces nos projetos de engenharia.</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 2 anos em atividades correlatas. </br>
                                            Recomendado 2 anos de experiência como Analista II. </br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="PET2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia de Petróleo com registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Acompanhar atividades dados de produção de óleo e gás, criando
                                            curvas de produção e declínio;</br>
                                            Elaborar documentação relacionada aos processos de prospecção,
                                            exploração, produção e processamento de óleo e gás;</br>
                                            Atuar no dimensionamento de vasos separadores de produção;</br>
                                            Elaborar relatórios de análise de plantas de tratamento de óleo
                                            e gás;</br>
                                            Auxiliar em projetos de desenvolvimento de simuladores e/ou
                                            ferramentas de design de unidades (e suas partes) de operação e
                                            processamento de óleo e gás;</br>
                                            Elaborar relatórios de consolidação de dados de operadores de
                                            óleo e gás para ANP;- Gerenciar interfaces nos projetos de
                                            engenharia;</br>
                                            Possuir habilidades com as ferramentas de desenho 2D e 3D tais
                                            com autocad, microstation, revit e outros;</br>
                                            Desenvolver colaboradores compartilhando conhecimento;</br>
                                            Propor solução para os clientes sempre em linha com as novidades
                                            do setor.</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 5 anos em atividades correlatas.</br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                            Habilidade para ministrar treinamento.</br>
                                            Ser capaz de orientar o engenheiro IConhecimento de metodologias
                                            de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Planejamento-->
                <div class="card disabled">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#engenheiro4">Planejamento</button>
                        </h5>
                    </div>
                    <div id="engenheiro4" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Processos-->
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#engenheiro5">Processos</button>
                        </h5>
                    </div>
                    <div id="engenheiro5" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Segurança de Processos-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#engenheiro6">Segurança de Processo</button>
                        </h5>
                    </div>
                    <div id="engenheiro6" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#PRO1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Engenheiro I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#PRO2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Engenheiro II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="PRO1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia com especialização em Segurança de Processos com
                                            registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar Listas e Plantas de Classificação de Áreas;</br>
                                            Elaborar Plantas de Segurança, posicionando hidrantes,
                                            extintores, canhões-monitores e itens de detecção e alarme,
                                            indicando os sistemas de combate de incêndio convenientes para
                                            cada tipo de risco;</br>
                                            Dimensionar sistemas de combate de incêndio, realizando análises
                                            de cobertura por aspersores, calculando demandas de água e
                                            espuma mínimas requeridas;</br>
                                            Elaborar balanços hidráulicos através de softwares como PIPE-FLO
                                            e Pipenet;</br>
                                            Elaborar Folhas de Dados de equipamentos de prateleira
                                            (hidrantes, extintores, etc.).</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 2 anos em atividades correlatas. </br>
                                            Recomendado 2 anos de experiência como Analista II. </br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="PRO2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia de Petróleo com registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar e verificar Listas e Plantas de Classificação de
                                            Áreas;</br>
                                            Elaborar e verificar Plantas de Segurança, posicionando
                                            hidrantes, extintores, canhões-monitores e itens de detecção e
                                            alarme, indicando os sistemas de combate de incêndio
                                            convenientes para cada tipo de risco;</br>
                                            Dimensionar sistemas de combate de incêndio, realizando análises
                                            de cobertura por aspersores, calculando demandas de água e
                                            espuma mínimas requeridas;</br>
                                            Elaborar e verificar balanços hidráulicos através de softwares
                                            como PIPE-FLO e Pipenet;</br>
                                            Elaborar e verificar Folhas de Dados de equipamentos de
                                            prateleira;</br>
                                            Elaborar Especificações Técnicas de sistemas customizáveis;</br>
                                            Dimensionar sistemas de segurança mais complexos, tais como
                                            sistemas de inundação, dilúvio, water mist e chuveiros
                                            automáticos;</br>
                                            Gerenciar interfaces nos projetos de engenharia.</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 5 anos em atividades correlatas.</br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                            Habilidade para ministrar treinamento.</br>
                                            Ser capaz de orientar o engenheiro IConhecimento de metodologias
                                            de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Telecomunicações-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#engenheiro7">Telecomunicações</button>
                        </h5>
                    </div>
                    <div id="engenheiro7" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#TEL1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Engenheiro I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#TEL2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Engenheiro II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="TEL1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia de Telecomunicações, Engenharia Elétrica com registro
                                            no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar desenhos técnicos ( Ex: Diagramas, Plantas, detalhes
                                            típicos de instalações);</br>
                                            Elaborar listas técnicas (EX: Lista de cabos, lista de
                                            equipamentos, lista de cargas elétricas);</br>
                                            Elaborar Requisições de compras (Ex: Requisição de materiais, de
                                            equipamentos);</br>
                                            Elaborar de Folha de dados de equipamentos;</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 2 anos em atividades correlatas. </br>
                                            Recomendado 2 anos de experiência como Analista II. </br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="TEL2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia de Petróleo com registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Verificar a documentação técnica elaborada por engenheiro I ou
                                            II;</br>
                                            Elaborar Memórias de Cálculos (EX: MC de sonorização, MC Sistema
                                            de TV, MC sistema de UHF);</br>
                                            Elaborar Especificações Técnicas (EX: Especificação técnicas dos
                                            sistemas de telecomunicações, Especificações técnicas de
                                            Materiais);</br>
                                            Elaborar Relatórios Técnicos (EX: Memoriais descritivos,
                                            Relatórios de visitas técnicas);</br>
                                            Realizar Visitas técnicas;</br>
                                            Manter a comunicação com a equipe técnica das demais
                                            disciplinas, afim de evitar interferências de projeto;</br>
                                            Trabalhar com foco em evitar o retrabalho;</br>
                                            Realizar Coaching de engenheiro I.</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 5 anos em atividades correlatas.</br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                            Habilidade para ministrar treinamento.</br>
                                            Ser capaz de orientar o engenheiro IConhecimento de metodologias
                                            de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Tubulação-->
                <div class="card disabled">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#engenheiro8">Tubulação</button>
                        </h5>
                    </div>
                    <div id="engenheiro8" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Eletricista-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#engenheiro9">Elétrica</button>
                        </h5>
                    </div>
                    <div id="engenheiro9" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#ELE1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Engenheiro I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#ELE2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Engenheiro II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="ELE1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia Elétrica com registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar lista de cargas elétricas;</br>
                                            Elaborar memoriais de calculo de cabos, iluminação, SPDA e
                                            aterramento;</br>
                                            Dimensionamento de transformadores, UPS, banco de
                                            capacitores;</br>
                                            Conhecimentos dos estudos elétricos tais como estudo de
                                            curto-circuito, fluxo de potência, Energia incidente e
                                            Coordenação e Seletividade;</br>
                                            Propor utilização ferramentas para otimização das atividades
                                            rotineiras; </br>
                                            Possuir habilidades com as ferramentas de desenho 2D e 3D tais
                                            com autocad, microstation, revit e outros;</br>
                                            Conhecimento sobre interfaces nos projetos de engenharia;</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 2 anos em atividades correlatas. </br>
                                            Recomendado 2 anos de experiência como Analista II. </br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ELE2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia Elétrica com registro no CREA</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar/Verificar/Aprovar lista de cargas elétricas;</br>
                                            Elaborar/Verificar/Aprovar memoriais de calculo de cabos,
                                            iluminação, SPDA e aterramento;</br>
                                            laborar/Verificar/Aprovar Dimensionamento de transformadores,
                                            UPS, banco de capacitores;</br>
                                            Desenvolver estudos elétricos tais como estudo de
                                            curto-circuito, fluxo de potência, Energia incidente e
                                            Coordenação e Seletividade;</br>
                                            Implementar utilização ferramentas para otimização das
                                            atividades rotineiras; </br>
                                            Ter habilidades com as ferramentas de desenho 2D e 3D tais com
                                            autocad, microstation, revit e outros;</br>
                                            Gerenciar interfaces nos projetos de engenharia;</br>
                                            Desenvolver colaboradores compartilhando conhecimento;</br>
                                            Ser capaz de propor solução para os clientes sempre em linha com
                                            as novidades do setor.</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 5 anos em atividades correlatas.</br>
                                            Conhecimento de metodologias de gestão de projetos.</br>
                                            Habilidade para ministrar treinamento.</br>
                                            Ser capaz de orientar o engenheiro IConhecimento de metodologias
                                            de gestão de projetos.</br>
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Mecânica-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#engenheiro10">Mecânica</button>
                        </h5>
                    </div>
                    <div id="engenheiro10" class="collapse">
                        <div class="card-body">
                            <div class="card-body">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#MEC1"
                                            role="tab" aria-controls="pills-home" aria-selected="true">Engenheiro I</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#MEC2"
                                            role="tab" aria-controls="pills-profile" aria-selected="false">Engenheiro
                                            II</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="MEC1" role="tabpanel">
                                        <h3>Formação Acadêmica</h3>
                                        <div class="txt">
                                            <p>Engenharia Mecânica com registro no CREA</p>
                                        </div>
                                        <h3>Requisitos de Entrada</h3>
                                        <div class="txt">
                                            <p>Elaborar lista de equipamentos;</br>
                                                Elaborar folha de dados, relatório de intervenção em
                                                equipamentos;</br>
                                                Elaborar requisição de equipamentos;</br>
                                                Elaborar memória de cálculo de equipamentos;</br>
                                                Comentar documentação de fornecedores, como desenhos, listas
                                                e relatórios;</br>
                                                Dimensionamento de equipamentos, utilizando softwares como
                                                PVELITE;</br>
                                                Propor utilização ferramentas para otimização das atividades
                                                rotineiras; </br>
                                                Possuir habilidades com as ferramentas de desenho 2D e 3D
                                                tais com autocad, inventor, solid works, revit e
                                                outros;</br>
                                                Conhecimento sobre interfaces nos projetos de
                                                engenharia;</br>
                                            </p>
                                        </div>
                                        <h3>Experiência</h3>
                                        <div class="txt">
                                            <p>Experiência mínima de 2 anos em atividades correlatas. </br>
                                                Recomendado 2 anos de experiência como Analista II. </br>
                                                Conhecimento de metodologias de gestão de projetos.</br>
                                            </p>
                                        </div>
                                        <h3>Competências Organizacionais</h3>
                                        <div class="txt">
                                            <ul>
                                                <li>Comunicação.</li>
                                                <li>Orientação ao cliente.</li>
                                                <li>Trabalho em equipe.</li>
                                                <li>Orientação ao resultado.</li>
                                                <li>Orientação a aprendizagem.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="MEC2" role="tabpanel">
                                        <h3>Formação Acadêmica</h3>
                                        <div class="txt">
                                            <p>Engenharia Mecânica com registro no CREA</p>
                                        </div>
                                        <h3>Requisitos de Entrada</h3>
                                        <div class="txt">
                                            <p>Elaborar/Verificar/Aprovar lista de equipamentos;</br>
                                                Elaborar/Verificar/Aprovar folha de dados, relatório de
                                                intervenção em equipamentos;</br>
                                                Elaborar/Verificar/Aprovar requisição de equipamentos;</br>
                                                Comentar/Verificar/Certificar documentação de fornecedores,
                                                como desenhos, listas e relatórios e memória de
                                                cálculo;</br>
                                                Elaborar/Verificar/Aprovar memória de cálculo de
                                                equipamentos;</br>
                                                Dimensionamento de equipamentos, utilizando softwares como
                                                PVELITE;</br>
                                                Propor utilização ferramentas para otimização das atividades
                                                rotineiras; </br>
                                                Possuir habilidades com as ferramentas de desenho 2D e 3D
                                                tais com autocad, inventor, solid works, revit e outros;-
                                                Gerenciar interfaces nos projetos de engenharia;</br>
                                                Desenvolver colaboradores compartilhando conhecimento;</br>
                                                Propor solução para os clientes sempre em linha com as
                                                novidades do setor;</br>
                                                Coordenar equipe elétrica nos projetos;</br>
                                            </p>
                                        </div>
                                        <h3>Experiência</h3>
                                        <div class="txt">
                                            <p>Experiência mínima de 5 anos em atividades correlatas.</br>
                                                Conhecimento de metodologias de gestão de projetos.</br>
                                                Habilidade para ministrar treinamento.</br>
                                                Ser capaz de orientar o engenheiro IConhecimento de
                                                metodologias de gestão de projetos.</br>
                                            </p>
                                        </div>
                                        <h3>Competências Organizacionais</h3>
                                        <div class="txt">
                                            <ul>
                                                <li>Comunicação.</li>
                                                <li>Orientação ao cliente.</li>
                                                <li>Trabalho em equipe.</li>
                                                <li>Orientação ao resultado.</li>
                                                <li>Orientação a aprendizagem.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>