<div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Consultor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#engcon1" role="tab"
                            aria-controls="pills-home" aria-selected="true">Consultor Técnico I</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engcon2" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Consultor Técnico II</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="engcon1" role="tabpanel">                    
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Ser refência na sua área de conhecimento.<br>
                                - Perfil para dar treinamentos, encontros técnicos e debates de lições aprendidas.<br>
                                - Gestão do Conhecimento.
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>5 anos de experiência na área de atuação.</p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao nte.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="engcon2" role="tabpanel">
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            <p>
                                - Ser refência na sua área de conhecimento.<br>
                                - Perfil para dar treinamentos, encontros técnicos e debates de lições aprendidas.<br>
                                - Gestão do Conhecimento.
                            </p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>8 anos de experiência na área de atuação.</p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            <p>
                                - Comunicação.<br>
                                - Orientação ao nte.<br>
                                - Trabalho em equipe.<br>
                                - Orientação ao resultado.<br>
                                - Orientação a aprendizagem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>