<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Coordenador - Coordenador de Projetos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h3>Formação Acadêmica</h3>
            <div class="txt">
                <p>Engenharia em geral com registro no CREA</p>
            </div>
            <h3>Requisitos de Entrada</h3>
            <div class="txt">
                <p>Participar na elaboração técnica das propostas, estimando esforços e definindo soluções e
                    equipes;<br>
                    Planejar e acompanhar a evolução do projeto através de ferramentas e metodologias
                    definidas pela empresa ou pelo cliente, de modo a cumprir as metas de qualidade, prazo e
                    custo;<br>
                    Antecipar problemas e tomar ações corretivas evitando prejuízos financeiros, de
                    qualidade, prazo e desmotivação da equipe;<br>
                    Verificar se os requisitos estão sendo atendidos e o cliente está satisfeito com a
                    qualidade e desenvolvimento do projeto;<br>
                    Garantir um fluxo estável de faturamento do projeto, de forma a otimizar o fluxo de
                    caixa e reduzindo o saldo de provisão de receita; se possível, antecipar parcelas
                    futuras;<br>
                    Apoiar na identificação de novas oportunidades junto aos clientes ;<br>
                    Manter bom relacionamento com o cliente, garantindo sua satisfação e a manutenção do
                    mesmo a longo prazo;<br>
                    Garantir o cumprimento técnico das especificações e normas aplicáveis;<br>
                    Apoiar no desenvolvimento profissional (elaboração dos PDIs), na definição de
                    movimentações salarais / promoções e na promoção de feedbacks ao time com consistência e
                    frequência necessários.</p>
            </div>
            <h3>Conhecimentos técnicos</h3>
            <div class="txt">
                <p>Domínio de ferramentas ou metodologias de acompanhamento de projetos;<br>
                    Habilidade em gestão de pessoas;<br>
                    Capacidade de contribuição para elaboração de propostas comerciais;<br>
                    
            </div>
            <h3>Experiência</h3>
            <div class="txt">
                <p>Experiência de 1 ano nas atividades de coordenação de projetos</p>
            </div>
            <h3>Competências Organizacionais</h3>
            <div class="txt">
                <p>Gestão do negócio;<br>
                    Gestão de pessoas;<br>
                    Alianças estratégicas;<br>
                    Comunicação.</p>
            </div>
        </div>
    </div>
</div>