<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Analista</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">
                <!--Automação de Projetos-->
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#analista1">Analista de Automação de Projetos</button>
                        </h5>
                    </div>
                    <div id="analista1" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Automação Industrial-->
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#analista2">Analista de Automação Industrial</button>
                        </h5>
                    </div>
                    <div id="analista2" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Analista de Civil-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#analista3">Analista de Civil</button>
                        </h5>
                    </div>
                    <div id="analista3" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                        href="#AnaliCivil1" role="tab" aria-controls="pills-home"
                                        aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#AnaliCivil2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="AnaliCivil1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia Civil ou em curso</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar/ lista de materiais;</br>
                                            Elaborar/Verificar desenhos de civil (estruturas, drenagem,
                                            pavimentação, terraplanagem);</br>
                                            Elaborar Dimensionamento de elementos estruturais em concreto
                                            armado e aço;</br>
                                            Elaborar memorial descritivo de projeto;</br>
                                            Elaborar especificação técnica de projeto;</br>
                                            Criação / utilização de ferramentas para otimização das
                                            atividades rotineiras; </br>
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>Lista de materiais;</br>
                                            Desenhos de civil (estruturas, drenagem, pavimentação,
                                            terraplanagem);</br>
                                            Dimensionamento de elementos estruturais em concreto armado e
                                            aço;</br>
                                            Ter habilidades com as ferramentas de desenho 2D e 3D tais com
                                            autocad, microstation, revit e outros;</br>
                                            Ter habilidades com as ferramentas de modelagem computacional,
                                            tais como SAP2000, GT_Strudl, Civil 3d;</p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 1 ano em atividades correlatas em
                                            estagiário.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="AnaliCivil2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia Civil</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar/ lista de materiais;</br>
                                            Elaborar/Verificar desenhos de civil (estruturas, drenagem,
                                            pavimentação, terraplanagem);</br>
                                            Elaborar Dimensionamento de elementos estruturais em concreto
                                            armado e aço;</br>
                                            Elaborar memorial descritivo de projeto;</br>
                                            Elaborar especificação técnica de projeto;</br>
                                            Criação / utilização de ferramentas para otimização das
                                            atividades rotineiras; </br>
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>lista de materiais;</br>
                                            Desenhos de civil (estruturas, drenagem, pavimentação,
                                            terraplanagem);</br>
                                            Dimensionamento de elementos estruturais em concreto armado e
                                            aço;</br>
                                            Ter habilidades com as ferramentas de desenho 2D e 3D tais com
                                            autocad, microstation, revit e outros;</br>
                                            Ter habilidades com as ferramentas de modelagem computacional,
                                            tais como SAP2000, GT_Strudl, Civil 3d;</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima de 2 (dois) anos em atividades correlatas em
                                            estagiário.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Automação de Documentação e Qualidade-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anadoc">Analista de Documentação e Qualidade</button>
                        </h5>
                    </div>
                    <div id="anadoc" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#anadoc1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#anadoc2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="anadoc1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação completa ou em curso.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Garantir a emissão dos documentos de projeto dentro do prazo, atendendo
                                            aos padrões de qualidade estabelecidos pelo cliente.<br>
                                            - Emitir relatórios gerenciais relativos ao desempenho da documentação dos
                                            fornecedores para a área de planejamento do projeto.<br>
                                            - Gerir prazo, qualidade, escopo dos processos de Documentos de Fornecedores
                                            junto às interfaces do cliente final e das diferentes áreas internas
                                            envolvidas.<br>
                                            - Participar de reuniões de Kick off Meeting dos projetos para alinhar o
                                            fluxo de comunicação e tramitação dos documentos junto ao cliente.<br>
                                            - Elaborar, verificar e aprovar os procedimentos internos das atividades da
                                            equipe.<br>
                                            - Diligenciar a documentação técnica de Fornecedores.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Office.<br>
                                            - Inglês.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima de 1 (um) ano em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="anadoc2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Graduação completa</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Garantir a emissão dos documentos de projeto dentro do prazo, atendendo
                                            aos padrões de qualidade estabelecidos pelo cliente.<br>
                                            - Emitir relatórios gerenciais relativos ao desempenho da documentação dos
                                            fornecedores para a área de planejamento do projeto.<br>
                                            - Gerir prazo, qualidade, escopo dos processos de Documentos de Fornecedores
                                            junto às interfaces do cliente final e das diferentes áreas internas
                                            envolvidas.<br>
                                            - Participar de reuniões de Kick off Meeting dos projetos para alinhar o
                                            fluxo de comunicação e tramitação dos documentos junto ao cliente.<br>
                                            - Elaborar, verificar e aprovar os procedimentos internos das atividades da
                                            equipe.<br>
                                            - Diligenciar a documentação técnica de Fornecedores.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Office.<br>
                                            - Inglês
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>- Experiência mínima de 2 (dois) anos em atividades correlatas.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Automação de Elétrica-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anaele">Analista de Elétrica</button>
                        </h5>
                    </div>
                    <div id="anaele" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#anaele1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#anaele2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="AnalistaEle1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>Engenharia Elétrica ou em curso</p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>Elaborar lista de cargas elétricas.</br>
                                            Elaborar memoriais de calculo de cabos, iluminação, SPDA e
                                            aterramento.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico.</br>
                                            - Memoriais de calculo de cabos, iluminação, SPDA e
                                            aterramento.</br>
                                            - Dimensionamento de transformadores, UPS, banco de
                                            capacitores.</br>
                                            - Conhecimentos dos estudos elétricos tais como estudo de
                                            curto-circuito, fluxo de potência, Energia incidente e
                                            - Coordenação e Seletividade.</br>
                                            - Conhecimento sobre interfaces nos projetos de engenharia.</br>
                                            - Possuir habilidades com as ferramentas de desenho 2D e 3D tais
                                            com autocad, microstation, revit e outros.</br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>Experiência mínima em atividades correlatas em nível de
                                            estagiário.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="AnalistaEle2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia Elétrica.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Elaborar lista de cargas elétricas.<br>
                                            - Elaborar memoriais de calculo de cabos, iluminação, SPDA e aterramento.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico.<br>
                                            - memoriais de calculo de cabos, iluminação, SPDA e aterramento.<br>
                                            - Dimensionamento de transformadores, UPS, banco de capacitores.<br>
                                            - Conhecimentos dos estudos elétricos tais como estudo de curto-circuito,
                                            fluxo de potência, Energia incidente e Coordenação e Seletividade.<br>
                                            - Conhecimento sobre interfaces nos projetos de engenharia.<br>
                                            - Possuir habilidades com as ferramentas de desenho 2D e 3D tais com
                                            autocad, microstation, revit e outros.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>- Experiência mínima de 2 (dois) anos em atividades correlatas.</p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Automação de Instrumentação-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anainst">Analista de Instrumentação</button>
                        </h5>
                    </div>
                    <div id="anainst" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#anainst1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#anainst2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="anainst1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia Química, Engenharia de Petróleo, Engenharia de Controle e
                                            Automação ou em curso
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Elaborar lista de instrumentos, Entradas e Saídas e Cabos.<br>
                                            - Elaborar Diagramas de interligação e controle.<br>
                                            - Especificar sistemas de controle e segurança.<br>
                                            - Dimensionamento de Válvulas de Controle, Válvulas de Alívio e Segurança,
                                            Válvula Reguladora de pressão e elementos primário de vazão.<br>
                                            - Propor utilização ferramentas para otimização das atividades rotineiras.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico.<br>
                                            - instrumentos, Entradas e Saídas e Cabos .<br>
                                            - Diagramas de interligação e controle.<br>
                                            - sistemas de controle e segurança.<br>
                                            - Dimensionamento de Válvulas de Controle, Válvulas de Alívio e Segurança,
                                            Válvula Reguladora de pressão e elementos primário de vazão.<br>
                                            - Possuir habilidades com as ferramentas de desenho 2D tais com autocad e
                                            microstation e ferramentas de banco de dados tais como Smartplant
                                            instrumentation e Aveva instrumentation.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima de 1 ano em atividades correlatas em nível de
                                            estagiário.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="anainst2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia Química, Engenharia de Petróleo, Engenharia de Controle e
                                            Automação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class=" txt">
                                        <p>
                                            - Elaborar lista de instrumentos, Entradas e Saídas e Cabos .<br>
                                            - Elaborar Diagramas de interligação e controle.<br>
                                            - Especificar sistemas de controle e segurança.<br>
                                            - Dimensionamento de Válvulas de Controle, Válvulas de Alívio e Segurança,
                                            Válvula Reguladora de pressão e elementos primário de vazão.<br>
                                            - Propor utilização ferramentas para otimização das atividades
                                            rotineiras.<br>
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico.<br>
                                            - instrumentos, Entradas e Saídas e Cabos .<br>
                                            - Diagramas de interligação e controle.<br>
                                            - sistemas de controle e segurança.<br>
                                            - Dimensionamento de Válvulas de Controle, Válvulas de Alívio e Segurança,
                                            Válvula Reguladora de pressão e elementos primário de vazão.<br>
                                            - Possuir habilidades com as ferramentas de desenho 2D tais com autocad e
                                            microstation e ferramentas de banco de dados tais como Smartplant
                                            instrumentation e Aveva instrumentation.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima de 2 anos em atividades correlatas em nível de
                                            estagiário.
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Automação de Mecânica-->
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anamec">Analista de Mecânica</button>
                        </h5>
                    </div>
                    <div id="anamec" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Automação de Petróleo-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anapet">Analista de Petróleo</button>
                        </h5>
                    </div>
                    <div id="anapet" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#anapet1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#anapet2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="anainst1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia de Petróleo ou em curso.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - acompanhar atividades dados de produção de óleo e gás e criar curvas de
                                            produção e declínio.<br>
                                            - Elaborar documentação relacionada aos processos de prospecção, exploração,
                                            produção e processamento de óleo e gás.<br>
                                            - Elaborar relatórios de análise de plantas de tratamento de óleo e gás.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico.<br>
                                            - Conhecer sobre dimensionamento de vasos separadores de produção.<br>
                                            - Conhecer ferramentas de desenho 2D e 3D tais com autocad, microstation,
                                            revit e outros.<br>
                                            - Conhecimento sobre interfaces nos projetos de engenharia.<br>

                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima em atividades correlatas em nível de estagiário.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="anainst2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia de Petróleo.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class=" txt">
                                        <p>
                                            - acompanhar atividades dados de produção de óleo e gás e criar curvas de
                                            produção e declínio.<br>
                                            - Elaborar documentação relacionada aos processos de prospecção, exploração,
                                            produção e processamento de óleo e gás.<br>
                                            - Elaborar relatórios de análise de plantas de tratamento de óleo e gás.<br>
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico.<br>
                                            - Conhecer sobre dimensionamento de vasos separadores de produção.<br>
                                            - Conhecer ferramentas de desenho 2D e 3D tais com autocad, microstation,
                                            revit e outros.<br>
                                            - Conhecimento sobre interfaces nos projetos de engenharia.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima em atividades correlatas em nível de estagiário.
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Automação de Planejamento-->
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anaplan">Analista de Planejamento</button>
                        </h5>
                    </div>
                    <div id="anaplan" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Automação de Processos-->
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anaproc">Analista de Processos</button>
                        </h5>
                    </div>
                    <div id="anaproc" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <!--Automação de Segurança de Processos-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anasegp">Analista de Segurança de Processos</button>
                        </h5>
                    </div>
                    <div id="anasegp" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#anasegp1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#anasegp2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="anasegp1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia em geral com especialização em Segurança de Processos ou em
                                            curso.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>

                                            - Elaborar Listas e Plantas de Classificação de Áreas.<br>
                                            - Elaborar Plantas de Segurança, posicionando hidrantes, extintores,
                                            canhões-monitores e itens de detecção e alarme, indicando os sistemas de
                                            combate de incêndio convenientes para cada tipo de risco.<br>
                                            - Dimensionar sistemas de combate de incêndio, realizando análises de
                                            cobertura por aspersores, calculando demandas de água e espuma mínimas
                                            requeridas.<br>
                                            - Elaborar balanços hidráulicos através de softwares como PIPE-FLO e
                                            Pipenet.<br>
                                            - Elaborar Folhas de Dados de equipamentos de prateleira (hidrantes,
                                            extintores, etc).

                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico
                                            - Classificação de Áreas.<br>
                                            - Saber elaborar Plantas de Segurança, posicionando hidrantes, extintores,
                                            canhões-monitores e itens de detecção e alarme, indicando os sistemas de
                                            combate de incêndio convenientes para cada tipo de risco.<br>
                                            - saber sistemas de combate de incêndio, realizando análises de cobertura
                                            por aspersores, calculando demandas de água e espuma mínimas requeridas.<br>
                                            - saber elaborar balanços hidráulicos através de softwares como PIPE-FLO e
                                            Pipenet.<br>
                                            - saber elaborar Folhas de Dados de equipamentos de prateleira (hidrantes,
                                            extintores, etc).

                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima 1 anoem atividades correlatas em nível de estagiário.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="anasegp2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia em geral com especialização em Segurança de Processos.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class=" txt">
                                        <p>

                                            - Elaborar Listas e Plantas de Classificação de Áreas.<br>
                                            - Elaborar Plantas de Segurança, posicionando hidrantes, extintores,
                                            canhões-monitores e itens de detecção e alarme, indicando os sistemas de
                                            combate de incêndio convenientes para cada tipo de risco.<br>
                                            - Dimensionar sistemas de combate de incêndio, realizando análises de
                                            cobertura por aspersores, calculando demandas de água e espuma mínimas
                                            requeridas.<br>
                                            - Elaborar balanços hidráulicos através de softwares como PIPE-FLO e
                                            Pipenet.<br>
                                            - Elaborar Folhas de Dados de equipamentos de prateleira (hidrantes,
                                            extintores, etc).


                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico
                                            - Classificação de Áreas.<br>
                                            - Saber elaborar Plantas de Segurança, posicionando hidrantes, extintores,
                                            canhões-monitores e itens de detecção e alarme, indicando os sistemas de
                                            combate de incêndio convenientes para cada tipo de risco.<br>
                                            - saber sistemas de combate de incêndio, realizando análises de cobertura
                                            por aspersores, calculando demandas de água e espuma mínimas requeridas.<br>
                                            - saber elaborar balanços hidráulicos através de softwares como PIPE-FLO e
                                            Pipenet.<br>
                                            - saber elaborar Folhas de Dados de equipamentos de prateleira (hidrantes,
                                            extintores, etc).
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima 2 anos em atividades correlatas em nível de estagiário.
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Automação de Telecomunicações-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anatele">Analista de Telecomunicações</button>
                        </h5>
                    </div>
                    <div id="anatele" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#anatele1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#anatele2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="anasegp1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia de Telecomunicações, Engenharia Elétrica ou em curso.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>

                                            - Elaboração de desenhos técnicos ( Ex: Diagramas, Plantas, detalhes típicos
                                            de instalações).<br>
                                            - Elaboração de listas técnicas (EX: Lista de cabos, lista de equipamentos,
                                            lista de cargas elétricas).<br>
                                            - Elaboração de Requisições de compras (Ex: Requisição de materiais, de
                                            equipamentos).<br>
                                            - Elaboração de Folha de dados de equipamentos.<br>
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico
                                            - desenhos técnicos ( Ex: Diagramas, Plantas, detalhes típicos de
                                            instalações).<br>
                                            - listas técnicas (EX: Lista de cabos, lista de equipamentos, lista de
                                            cargas elétricas).<br>
                                            - Folha de dados de equipamentos.<br>

                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima de 1 ano em atividades correlatas em nível de
                                            estagiário.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="anasegp2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Engenharia de Telecomunicações, Engenharia Elétrica.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class=" txt">
                                        <p>

                                            - Elaboração de desenhos técnicos ( Ex: Diagramas, Plantas, detalhes típicos
                                            de instalações).<br>
                                            - Elaboração de listas técnicas (EX: Lista de cabos, lista de equipamentos,
                                            lista de cargas elétricas).<br>
                                            - Elaboração de Requisições de compras (Ex: Requisição de materiais, de
                                            equipamentos).<br>
                                            - Elaboração de Folha de dados de equipamentos.<br>


                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Raciocínio lógico
                                            - desenhos técnicos ( Ex: Diagramas, Plantas, detalhes típicos de
                                            instalações).<br>
                                            - listas técnicas (EX: Lista de cabos, lista de equipamentos, lista de
                                            cargas elétricas).<br>
                                            - Folha de dados de equipamentos.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência mínima de 2 anos em atividades correlatas em nível de
                                            estagiário.
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <ul>
                                            <li>Comunicação.</li>
                                            <li>Orientação ao cliente.</li>
                                            <li>Trabalho em equipe.</li>
                                            <li>Orientação ao resultado.</li>
                                            <li>Orientação a aprendizagem.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Automação de Tubulação-->
                <div class="card disabled">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#anatub">Analista de Tubulação</button>
                        </h5>
                    </div>
                    <div id="anatub" class="collapse">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>