<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Engenheiro III</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#engIII2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Instrumentação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  disabled" id="pills-home-tab" data-toggle="pill" href="#engIII1"
                        role="tab" aria-controls="pills-home" aria-selected="true">Civil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engIII3" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Petróleo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#engIII4" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Planejamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#engIII5" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Processos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engIII9" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Segurança do Trabalho</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engIII7" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Telecomunicações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#engIII8" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Tubulação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engIII9" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Eletricista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engIII10" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Mecânica</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="engIII2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Engenharia Química, Engenharia de Petróleo, Engenharia de Controle e Automação com
                            registro no CREA.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Elaborar/Verificar/Aprovar lista de instrumentos, Entradas e Saídas e Cabos.<br>
                            - Elaborar/Verificar/Aprovar Especificação de sistemas de controle e segurança.<br>
                            - Elaborar/Verificar/Aprovar Diagramas de interligação, lógico e de controle.<br>
                            - Elaborar/Verificar/Aprovar Dimensionamento de Válvulas de Controle, Válvulas de Alívio e
                            Segurança, Válvula Reguladora de pressão e elementos primário de vazão.<br>
                            - Propor utilização ferramentas para otimização das atividades rotineiras.<br>
                            - Possuir habilidades com as ferramentas de desenho 2D tais com autocad e microstation e
                            ferramentas de banco de dados tais como Smartplant instrumentation e Aveva
                            instrumentation.<br>
                            - Conhecimento sobre interfaces nos projetos de engenharia.<br>
                            - Desenvolver colaboradores compartilhando conhecimento.<br>
                            - Propor solução para os clientes sempre em linha com as novidades do setor.<br>
                            - Coordenar equipe de instrumentação e Automação nos projetos.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Conhecimento de metodologias de gestão de projetos.<br>
                            - Habilidade para ministrar treinamento.<br>
                            - Ser capaz de atuar na identificação de novas oportunidades junto aos clientes.<br>
                            - Manter bom relacionamento com o cliente, garantindo sua satisfação e a manutenção do mesmo
                            a
                            longo prazo.<br>
                            - Ser capaz de orientar engenheiros II e I.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência mínima de 8 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="engIII1" role="tabpanel">                    
                </div>
                

                <div class="tab-pane fade" id="engIII3" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Engenharia de Petróleo com registro no CREA.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Acompanhar atividades dados de produção de óleo e gás, criando curvas de produção e
                            declínio.<br>

                            - Elaborar documentação relacionada aos processos de prospecção, exploração, produção e
                            processamento de óleo e gás.<br>

                            - Atuar no dimensionamento de vasos separadores de produção.<br>

                            - Elaborar relatórios de análise de plantas de tratamento de óleo e gás.<br>

                            - Auxiliar em projetos de desenvolvimento de simuladores e/ou ferramentas de design de
                            unidades (e suas partes) de operação e processamento de óleo e gás.<br>

                            - Elaborar relatórios de consolidação de dados de operadores de óleo e gás para ANP.<br>

                            - Gerenciar interfaces nos projetos de engenharia.<br>

                            - Possuir habilidades com as ferramentas de desenho 2D e 3D tais com autocad, microstation,
                            revit e outros.<br>

                            - Gerenciar interfaces nos projetos de engenharia.<br>

                            - Desenvolver colaboradores compartilhando conhecimento.<br>

                            - Propor solução para os clientes sempre em linha com as novidades do setor.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Conhecimento de metodologias de gestão de projetos.<br>
                            - Habilidade para ministrar treinamento.<br>
                            - Ser capaz de atuar na identificação de novas oportunidades junto aos clientes.<br>

                            - Manter bom relacionamento com o cliente, garantindo sua satisfação e a manutenção do mesmo
                            a
                            longo prazo.<br>

                            - Ser capaz de orientar engenheiros II e I.

                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência mínima de 8 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade" id="engIII4" role="tabpanel">
                    <h3><br><br><br>Em desenvolvimento.</h3>
                </div>

                <div class="tab-pane fade" id="engIII5" role="tabpanel">
                    <h3><br><br><br>Em desenvolvimento.</h3>
                </div>

                <div class="tab-pane fade" id="engIII6" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Engenharia com especialização em Segurança de Processos com registro no CREA.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Elaborar, verificar e aprovar Listas e Plantas de Classificação de Áreas.<br>
                            - Elaborar, verificar e aprovar Plantas de Segurança, posicionando hidrantes, extintores,
                            canhões-monitores e itens de detecção e alarme, indicando os sistemas de combate de incêndio
                            convenientes para cada tipo de risco.<br>
                            - Elaborar, verificar e aprovar o dimensionamento de sistemas de combate de incêndio,
                            incluindo análises de cobertura por aspersores e cálculos de demandas de água e espuma
                            mínimas requeridas.<br>
                            - Elaborar, verificar e aprovar balanços hidráulicos através de softwares como PIPE-FLO e
                            Pipenet.<br>
                            - Elaborar, verificar e aprovar Folhas de Dados de equipamentos de prateleira.<br>
                            - Elaborar, verificar e aprovar Especificações Técnicas de sistemas customizáveis.<br>
                            - Elaborar, verificar e aprovar o dimensionamento de sistemas de segurança mais complexos,
                            tais como sistemas de inundação, dilúvio, water mist e chuveiros automáticos.<br>
                            - Gerenciar interfaces nos projetos de engenharia.<br>
                            - Desenvolver colaboradores compartilhando conhecimento.<br>
                            - Investigar e propor soluções alternativas para os clientes sempre em linha com as
                            novidades do setor e normas pertinentes.<br>
                            - Elaborar Parecer Técnico.<br>
                            - Coordenar equipe elétrica nos projetos.


                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Conhecimento de metodologias de gestão de projetos.<br>
                            - Habilidade para ministrar treinamento.<br>
                            - Ser capaz de atuar na identificação de novas oportunidades junto aos clientes.<br>
                            - Manter bom relacionamento com o cliente, garantindo sua satisfação e a manutenção do mesmo
                            a
                            longo prazo.<br>
                            - Ser capaz de orientar engenheiros II e I.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência mínima de 8 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade" id="engIII7" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Engenharia de Telecomunicações, Engenharia Elétrica com registro no CREA.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Atuar na identificação de novas oportunidades junto aos clientes;
                            - Manter bom relacionamento com o cliente, garantindo sua satisfação e a manutenção do mesmo
                            a longo prazo;
                            - Orientar engenheiros II e I.
                        </p>

                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Conhecimento de metodologias de gestão de projetos.<br>
                            - Habilidade para ministrar treinamento.<br>
                            - Verificação e aprovação da documentação técnica elaborada ou verificada por engenheiro I
                            ou II ou III.<br>
                            - Elaboração de Pareceres Técnicos (Ex: Parecer técnico de fornecedores de materiais e
                            equipamentos),
                            - Elaboração de Estimativas para novos projetos
                            - Elaboração de Procedimentos internos de boas práticas de engenharia.<br>
                            - Elaboração de Relatório de análise de consistência de projetos.<br>
                            - Realizar Visitas técnicas.<br>
                            - Participar na elaboração técnica das propostas, estimando esforços e definindo soluções e
                            equipes.<br>
                            - Apoiar diretamente a equipe de planejamento acompanhando a evolução do projeto de modo a
                            cumprir as metas de qualidade, prazo e custo.<br>
                            - Ratificação das soluções implementada no projeto.<br>
                            - Antecipar problemas e tomar ações corretivas evitando prejuízos financeiros, de qualidade,
                            prazo e desmotivação da equipe.<br>
                            - Verificar se os requisitos estão sendo atendidos e o cliente está satisfeito com a
                            qualidade e desenvolvimento do projeto.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência mínima de 8 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade" id="engIII8" role="tabpanel">
                    <h3><br><br><br>Em desenvolvimento.</h3>
                </div>

                <div class="tab-pane fade" id="engIII9" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Engenharia Elétrica com registro no CREA.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Elaborar/Verificar/Aprovar lista de cargas elétricas.<br>
                            - Elaborar/Verificar/Aprovar memoriais de calculo de cabos, iluminação, SPDA e
                            aterramento.<br>
                            - Elaborar/Verificar/Aprovar Dimensionamento de transformadores, UPS, banco de
                            capacitores.<br>
                            - Desenvolver estudos elétricos tais como estudo de curto-circuito, fluxo de potência,
                            Energia incidente, Coordenação e Seletividade e outros estudos.<br>
                            - Desenvolver automação elétrica.<br>
                            - Implementar utilização ferramentas para otimização das atividades rotineiras.<br>
                            - Ter habilidades com as ferramentas de desenho 2D e 3D tais com autocad, microstation,
                            revit e outros.<br>
                            - Gerenciar interfaces nos projetos de engenharia.<br>
                            - Desenvolver colaboradores compartilhando conhecimento.<br>
                            - Propor solução para os clientes sempre em linha com as novidades do setor.<br>
                            - Coordenar equipe elétrica nos projetos.

                        </p>

                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Conhecimento de metodologias de gestão de projetos.<br>
                            - Habilidade para ministrar treinamento.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência mínima de 8 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade" id="engIII10" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Engenharia Mecânica com registro no CREA.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Elaborar/Verificar/Aprovar lista de equipamentos.<br>
                            - Elaborar/Verificar/Aprovar folha de dados, relatório de intervenção em equipamentos.<br>
                            - Elaborar/Verificar/Aprovar requisição de equipamentos.<br>
                            - Comentar/Verificar/Certificar documentação de fornecedores, como desenhos, listas e
                            relatórios e memória de cálculo.<br>
                            - Elaborar/Verificar/Aprovar memória de cálculo de equipamentos.<br>
                            - Dimensionamento de equipamentos, utilizando softwares como PVELITE.<br>
                            - Implementar utilização ferramentas para otimização das atividades rotineiras.<br>
                            - Possuir habilidades com as ferramentas de desenho 2D e 3D tais com autocad, inventor,
                            solid works, revit e outros.<br>
                            - Gerenciar interfaces nos projetos de engenharia.<br>
                            - Desenvolver colaboradores compartilhando conhecimento.<br>
                            - Propor solução para os clientes sempre em linha com as novidades do setor.<br>
                            - Coordenar equipe de mecânica nos projetos.<br>
                        </p>

                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>


                            - Conhecimento de metodologias de gestão de projetos.<br>
                            - Habilidade para ministrar treinamento

                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência mínima de 8 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>