<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Analista de Requisitos (PO)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#sofreq1" role="tab"
                        aria-controls="pills-home" aria-selected="true">Product Owner I</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofreq2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Product Owner II</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#sofreq3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Product Owner III</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="sofreq1" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            <b>Não é exigido graduação.</b><br>
                            <b>Pode estar cursando ou não:</b><br>
                            - Ciência da Computação.<br>
                            - Análise de Sistemas.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica e de Computação.<br>
                            - Cursos similares.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Contribuir com as ativdades da planning.<br>
                            - Gerar documentações de requisitos com qualidade e de fácil entendimento.<br>
                            - Especificar requisitos funcionais, não-funcionais, de usuários, dos clientes e análise de
                            negócio.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Ferramentas e metodologias para levantamento de requisitos funcionais e não
                            funcionais.<br>
                            - Metodologia CMMI.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            Desejável experiência de 1 ano em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="sofreq2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            <b>Não é exigido graduação.</b><br>
                            <b>Pode estar cursando ou não:</b><br>
                            - Ciência da Computação.<br>
                            - Análise de Sistemas.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica e de Computação.<br>
                            - Cursos similares.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Realizar mentoria e/ou orientação de equipes para garantia da qualidade.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Noções de desenvolvimento de software (programação).<br>
                            - Criação de protótipos de baixa fidelidade.<br>
                            - Elaboração de Especificação Funcional.<br>
                            - Elaboração de Cenários com BDD.<br>
                            - Elaboração de Casos de Uso.<br>
                            - Elaboração de diagramas.<br>
                            - Conhecimento de UX/UI.
                        </p>

                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência de 2 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="sofreq3" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            <b>Não é exigido graduação.</b><br>
                            <b>Pode estar cursando ou não:</b><br>
                            - Ciência da Computação.<br>
                            - Análise de Sistemas.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica e de Computação.<br>
                            - Cursos similares.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Realizar mentoria e/ou orientação de equipes para garantia da qualidade.<br>
                            - Propor soluções e antecipar dificuldades.<br>
                            - Relacionar-se com o cliente técnico.<br>
                            - Dimensionar adequadamente o esforço envolvido na execução do projeto para apoiar a
                            precificação.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Projetos agéis.<br>
                            - Noções de desenvolvimento de software (programação).<br>
                            - Experiência em homologação técnica junto a clientes.<br>
                            - Experiência em Aprovação de Pull Requests (Merge).
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência de 4 anos em atividades correlatas.    
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>