<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Testador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#TESTER1" role="tab"
                        aria-controls="pills-home" aria-selected="true">Tester I</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#TESTER2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Tester
                        II</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#TESTER3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Tester
                        III</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="TESTER1" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            <b>Não é exigido graduação.</b><br>
                            <b>Pode estar cursando ou não:</b><br>
                            - Ciência da Computação.<br>
                            - Análise de Sistemas.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica e de Computação.<br>
                            - Cursos similares.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Atuar com diferentes tipos de projeto (projetos mais críticos, com integrações,
                            testes automatizados ou outros tipos de teste: apis, performance, segurança,
                            usabilidade, etc).<br>
                            - Propor melhoria com base em feedbacks e revisões por par, mas também por
                            iniciativa própria.<br>
                            - Fazer reporte de status de testes para líderes e gestores de projetos.<br>
                            - Reporte de impedimentos.<br>
                            - Contribuir com as atividades da planning.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Elaboração de massa de dados com SQL.<br>
                            - Vivência em projetos ágeis.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Pelo menos 2 anos de experiência com testes de software.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Gestão do negócio.<br>
                            - Gestão de pessoas.<br>
                            - Alianças estratégicas.<br>
                            - Comunicação.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="TESTER2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            <b>Não é exigido graduação.</b><br>
                            <b>Pode estar cursando ou não:</b><br>
                            - Ciência da Computação.<br>
                            - Análise de Sistemas.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica e de Computação.<br>
                            - Cursos similares.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Atuar com diferentes tipos de projeto (projetos mais críticos, com integrações,
                            testes automatizados ou outros tipos de teste: apis, performance, segurança,
                            usabilidade, etc).<br>
                            - Propor melhoria com base em feedbacks e revisões por par, mas também por
                            iniciativa própria.<br>
                            - Fazer reporte de status de testes para líderes e gestores de projetos.
                            - Reporte de impedimentos.<br>
                            - Contribuir com as atividades da planning.</p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Elaboração de massa de dados com SQL.<br>
                            - Vivência em projetos ágeis.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Pelo menos 2 anos de experiência com testes de software.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Gestão do negócio.<br>
                            - Gestão de pessoas.<br>
                            - Alianças estratégicas.<br>
                            - Comunicação.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="TESTER3" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            <b>Graduação ou especialização. Pode estar cursando ou já ter se formado.</b><br>
                            <b>Exemplos graduação:</b><br>
                            - Ciências da Computação.<br>
                            - Análise de Sistemas.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica.<br>
                            - Cursos similares.<br>
                            <b>Exemplos especialização:</b><br>
                            - MBA em Engenharia de Software.</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Priorizar.
                            - Apoiar na definição das atividades (Planning).<br>
                            - Dimensionar adequadamente o esforço envolvido na execução do projeto para apoiar
                            a precificação.<br>
                            - Propor melhoria através de feedbacks e revisões por par mas também por
                            - Iniciativa própria.<br>
                            - Participar de reuniões com cliente.<br>
                            - Auto-gerenciamento.<br>
                            - Assumir as atividades de outro integrante com as mesmas funções caso ocorra sua
                            ausência.<br>
                            - Ter habilidade no relacionamento com equipe de testes e de projetos, organização
                            de atividades de outros testadores do projeto.</p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Experiência com diferentes tipos de projeto (projetos mais críticos, com
                            integrações, testes automatizados ou outros tipos de teste: apis, performance,
                            segurança, usabilidade, etc).<br>
                            - Experiência com projetos ágeis.<br>
                            - Experiência em liderança de projetos de teste ou profissionais de teste.<br>
                            - Noções ou experiência em automatização de testes.<br>
                            - Certificação CTFL Foundation.<br>
                            - Prática em mentoria e/ou orientação de equipes para garantia da qualidade.<br>
                            - Habilidade/Experiência para comunicar-se com o cliente (área técnica).<br>
                            - Levantamento de riscos.<br>
                            - Excelência em escrita e oral;</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - A partir de 4 anos em testes de software.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Gestão do negócio.<br>
                            - Gestão de pessoas.<br>
                            - Alianças estratégicas.<br>
                            - Comunicação.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>