<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Gerente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item ">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#sofger" role="tab"
                        aria-controls="pills-home" aria-selected="true">Gerente de Projetos</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="sofger" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Graduação em Engenharia, Ciências da Computação ou similares. Desejável Pós
                            em Gestão de Projetos.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>- Participar na elaboração técnica das propostas, estimando esforços e
                            definindo soluções e equipes.<br>
                            - Planejar e acompanhar a evolução do projeto através de ferramentas e
                            metodologias definidas pela empresa ou pelo cliente, de modo a cumprir as
                            metas de qualidade, prazo e custo.<br>
                            - Antecipar problemas e tomar ações corretivas evitando prejuízos
                            financeiros, de qualidade, prazo e desmotivação da equipe.<br>
                            - Verificar se os requisitos estão sendo atendidos e o cliente está
                            satisfeito com a qualidade e desenvolvimento do projeto.<br>
                            - Garantir um fluxo estável de faturamento do projeto, de forma a otimizar o
                            fluxo de caixa e reduzindo o saldo de provisão de receita.<br> se possível,
                            antecipar parcelas futuras.<br>
                            - Apoiar na identificação de novas oportunidades junto aos clientes.<br>
                            - Manter bom relacionamento com o cliente, garantindo sua satisfação e a
                            manutenção do mesmo a longo prazo.<br>
                            - Coaching de coordenadores.<br>
                            - Analisar criticamente os resultados e utilizar recursos de upward
                            management quando necessário.<br>
                            - Alocar e acomodar recursos entre equipe para atender aos requisitos do
                            projeto.<br>
                            - Garantir o desenvolvimento profissional (elaboração dos PDIs), na
                            definição de movimentações salarais / promoções e na promoção de feedbacks
                            ao time com consistência e frequência necessários.<br>
                            - Acompanhar e direcionar as atividades relacionadas à equipe de
                            PMO/Planejamento (PMO – Project Management Office).
                        </p>
                    </div>
                    <h3>Conhecimentos Técnicos</h3>
                    <div class="txt">
                        <p>
                            - Domínio de ferramentas ou metodologias de acompanhamento de projetos.<br>
                            - Capacidade de contribuição para elaboração de propostas comerciais.<br>
                            - Levantamento e Tratamento de Dados e Informações.<br>
                            - Fluxo de desenvolvimento de projetos.<br>
                            - Análise Sistêmica.<br>
                            - Negociação comercial.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            Experiência mínima de 3 (três) anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>- Gestão do negócio.<br>
                            - Gestão de pessoas.<br>
                            - Alianças estratégicas.<br>
                            - Comunicação.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>