<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Desenvolvedor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">

                <!--Backend-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#sofdevback">Back-end</button>
                        </h5>
                    </div>
                    <div id="sofdevback" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                        href="#sofdevback1" role="tab" aria-controls="pills-home"
                                        aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevback2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevback3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="sofdevback1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Corrigir erros e defeitos.<br>
                                            - Realizar testes unitários.<br>
                                            - Contribuir com as ativdades da planning.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Noções de testes automatizados.<br>
                                            - Noção de versionamento de código fonte.<br>
                                            - Orientação a objetos.<br>
                                            - Protocolo HTTP.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Desejável experiência em tecnologias / linguagens de programação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevback2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar na definição técnica dos requisitos.<br>
                                            - Corrigir erros e defeitos, bem como orientar as equipes.<br>
                                            - Realizar mentoria e/ou orientação de equipes para garantia da qualidade.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Domínio do Padrão REST.<br>
                                            - Padrão SOA.<br>
                                            - Conhecimento intermediário de banco de dados (SQL).<br>
                                            - Conhecimento em padrões de projeto e design patterns.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 1 ano em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevback3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Dimensionar adequadamente o esforço envolvido na execução do projeto para
                                            apoiar a precificação.<br>
                                            - Comunicar-se com o cliente (área técnica).<br>
                                            - Fazer homologação técnica junto a clientes.<br>
                                            - Garantir a qualidade do código.<br>
                                            - Priorizar tarefas.<br>
                                            - Apoiar na definição das atividades (Planning).
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência com o processo de integração contínua (CI/CD).<br>
                                            - Conhecimento comprovado na área.<br>
                                            - Experiência em Aprovação de Pull Requests (Merge).
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Administrador de Banco de Dados-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#sofdevban">Administrador de Banco de Dados</button>
                        </h5>
                    </div>
                    <div id="sofdevban" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#sofdevban1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevban2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevban3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="sofdevban1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Corrigir de erros e defeitos.<br>
                                            - Realizar testes unitários.<br>
                                            - Contribuir com as ativdades da planning.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Dominio da manutenção preventiva de bancos de dados.<br>
                                            - Entender o significado de cada indicador de check-list e suas
                                            consequencias.<br>
                                            - Entender as boas práticas de backup, recuperação e segurança em banco de
                                            dados.<br>
                                            - Saber como corrigir, ou como se aprofundar, quando um indicador de banco
                                            de dados ou sistema operacional estiver fora de conformidade.<br>
                                            - Interpretar mensagens de erro do banco de dados.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Desejável experiência em tecnologias / linguagens de programação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevban2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar na definição técnica dos requisitos.<br>
                                            - Corrigir erros e defeitos, bem como orientar as equipes.<br>
                                            - Realizar mentoria e/ou orientação de equipes para garantia da
                                            qualidade.<br>
                                            - Elaborar e executar planos de testes para a solução proposta.<br>
                                            - Corrigir mensagens de erro após sua análise.<br>
                                            - Analisar diretivas SQL e elaborar melhoria.<br>
                                            - Testar exaustivamente a eficácia da solução implementada.<br>
                                            - Testar exaustivamente as possibilidades de falhas da solução.<br>
                                            - Analisar o resultado dos indicadores de pontos críticos e check-list.<br>
                                            - Elaborar ações corretivas para inconformidades.<br>
                                            - Apresentar aptidão técnica para correções preventivas.<br>
                                            - Documentar plenamente todos os procedimentos executados, testes
                                            realizados, erros encontrados e correções aplicadas.<br>
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento e capacidade de análise do ambiente de banco de dados como um
                                            todo, para otimização ou solução de problemas, o que compreende a
                                            interrelação existente entre o hardware, sistema operacional, transações e
                                            outros componentes.<br>
                                            - Domínio das técnicas de reconhecimento de problemas.<br>
                                            - Entender os subsistemas em análise e sua inter-relação, tais como níveis
                                            de RAID, blocagem e configuração de discos (internos ou de Storage, com ou
                                            sem SAN), placas controladoras, logs de transação, alocação de memória e
                                            processador, protocolos de rede, entre outros.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 1 ano em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevban3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Dimensionar adequadamente o esforço envolvido na execução do projeto para
                                            apoiar a precificação.<br>
                                            - Comunicar-se com o cliente (área técnica).<br>
                                            - Fazer homologação técnica junto a clientes.<br>
                                            - Garantir a qualidade do código.<br>
                                            - Priorizar tarefas.<br>
                                            - Apoiar na definição das atividades (Planning).<br>
                                            - Diagnosticar ajustes do banco de dados para melhoria de desempenho.<br>
                                            - Elaborar soluções paliativas (“workaround”) para contornar problema de
                                            solução complexa ou demorada.<br>
                                            - Analisar uso de índices, identificar os inúteis e/ou passíveis de
                                            melhoria.<br>
                                            - Propor e implementar as soluções paliativas quando a solução do problema
                                            for complexa ou demorada.<br>
                                            - Desenhar arquiteturas de bancos de dados aderentes à necessidade do
                                            negócio mesclando tecnologias diversas conforme suas caracteristicas
                                            intrinscecas.<br>
                                            - Elaborar soluções de alta disponibilidade, backup e recuperação, desastre
                                            e recuperação, ambientes de contingência, redundância de banco de dados e
                                            seus componentes de software e hardware.<br>
                                            - Analisar e propor soluções de compatibilidade entre hardware e software
                                            adequados à capacidade de investimento do cliente com relação a sua
                                            expectativa de desempenho, segurança e contingência das informações.<br>
                                            - Demonstrar a solução, desenhada de forma clara para leigos, apontando
                                            vantagens e desvantagens técnicas e econômicas de cada desenho
                                            apresentado.<br>
                                            - Confeccionar mapas e desenhos da solução, de forma clara, objetiva e
                                            apresentável.<br>
                                            - Configurar de modo preciso e adequado toda a solução, com documentação
                                            simples e detalhada para sua implementação.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Domínio dos comandos, da arquitetura e das boas práticas de banco de dados
                                            (SGBD) dos diversos fabricantes.<br>
                                            - Domínio das técnicas de monitoramento de desempenho.<br>
                                            - Domínio de otimização de SQL, arquitetura de tabelas e indexação.<br>
                                            - Saber boas práticas de modelagem de dados e arquitetura em banco de
                                            dados.<br>
                                            - Conhecimento para propor melhorias nas arquiteturas.<br>
                                            - Dominio da arquitetura de SO para melhoria de indicadores de banco de
                                            dados.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--FrontEnd-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#sofdevfro">Front-end</button>
                        </h5>
                    </div>
                    <div id="sofdevfro" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#sofdevfro1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevfro2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevfro3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="sofdevfro1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Corrigir de erros e defeitos.<br>
                                            - Realizar testes unitários.<br>
                                            - Contribuir com as ativdades da planning.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Noção de versionamento de código fonte.<br>
                                            - Lógica de programação.<br>
                                            - Javascript básico.<br>
                                            - Básico de padrões de projeto.<br>
                                            - Experiência com HTML, CSS.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            -Desejável experiência em tecnologias / linguagens de programação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevfro2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar na definição técnica dos requisitos.<br>
                                            - Corrigir erros e defeitos, bem como orientar as equipes.<br>
                                            - Realizar mentoria e/ou orientação de equipes para garantia da qualidade.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Versionamento de código fonte HTML5 e CSS3.<br>
                                            - Javascript avançado.<br>
                                            - Ter atuado com alguns frameworks modernos (Ex.: Polymer, AngularJS,
                                            ReactJS,
                                            Vue.js).<br>
                                            - Conhecimento de boas práticas UI/UX.<br>
                                            - Experiência em desenvolvimento orientado a multi-plataforma
                                            (Responsividade Web e Mobile) e compatibilidade cross-browsers.<br>
                                            - Experiência com aplicações orientadas para dispositivos móveis (Ex.: PWA,
                                            Cordova).<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 1 ano em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevfro3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Dimensionar adequadamente o esforço envolvido na execução do projeto para
                                            apoiar a precificação.<br>
                                            - Comunicar-se com o cliente (área técnica).<br>
                                            - Fazer homologação técnica junto a clientes.<br>
                                            - Garantir a qualidade do código.<br>
                                            - Priorizar tarefas.<br>
                                            - Apoiar na definição das atividades (Planning).

                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Domínio em algum framework moderno (Ex.: Polymer, AngularJS, ReactJS,
                                            Vue.js).<br>
                                            - Experiência em ferramenta de testes automatizados de interface (Selenium)
                                            e unitários (Ex.: Mocha, Jest, Jasmine).<br>
                                            - Famework moderno (Ex.: Polymer, AngularJS, ReactJS, Vue.js).<br>
                                            - Conhecimentos sólidos em chamadas assíncronas e atualizações parciais de
                                            página.<br>
                                            - Experiencia em desenvolvimento frontend.<br>
                                            - Conhecimentos sólidos em boas práticas de desenvolvimento ágil e
                                            paradigmas arquiteturais.<br>
                                            - Experiência em design de API's client-side Javascript robustas.<br>
                                            - Domínio de boas práticas de reusabilidade e desenvolvimento orientado a
                                            componentização/modularização.<br>
                                            - Experiência em Aprovação de Pull Requests (Merge).<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Mobile-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#sofdevfro">Mobile</button>
                        </h5>
                    </div>
                    <div id="sofdevmob" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#sofdevmob1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevmob2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevmob3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="sofdevmob1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Corrigir de erros e defeitos.<br>
                                            - Realizar testes unitários.<br>
                                            - Contribuir com as ativdades da planning.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Noção de versionamento de código fonte.<br>
                                            - Lógica de programação.<br>
                                            - Básico de padrões de projeto.<br>

                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            -Desejável experiência em tecnologias / linguagens de programação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevmob2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar na definição técnica dos requisitos.<br>
                                            - Corrigir erros e defeitos, bem como orientar as equipes.<br>
                                            - Realizar mentoria e/ou orientação de equipes para garantia da qualidade.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento de testes automatizados e versionamento de código fonte.<br>
                                            - Conhecimento intermediário de padrões de projeto, integração contínua e
                                            ferramentas de analytics.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 1 ano em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevmob3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Dimensionar adequadamente o esforço envolvido na execução do projeto para
                                            apoiar a precificação.<br>
                                            - Comunicar-se com o cliente (área técnica).<br>
                                            - Fazer homologação técnica junto a clientes.<br>
                                            - Garantir a qualidade do código.<br>
                                            - Priorizar tarefas.<br>
                                            - Apoiar na definição das atividades (Planning).

                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Versionamento de código fonte.<br>
                                            - Vivência em diferentes tipos de projeto (projetos mais críticos, com
                                            integrações, testes automatizados, apis, preocupação com performance do
                                            sistema, segurança, usabilidade, etc).<br>
                                            - Experiência com padrões de projeto e arquitetura de software.<br>
                                            - Experiência em automatização de testes e teste unitário.<br>
                                            - Experiência em CI/CD e Analytics.<br>
                                            - Experiência em Aprovação de Pull Requests (Merge).
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Cientista de Dados-->

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#sofdevcie">Ciência de Dados</button>
                        </h5>
                    </div>
                    <div id="sofdevcie" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#sofdevcie1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevcie2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#sofdevcie3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="sofdevcie1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Contribuir com as ativdades da planning.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento básico em programação e orientação a objetos.<br>
                                            - Conhecer Machine Learning/Análise de Dados que mais especificamente os
                                            seguintes tópicos:<br>
                                            - Limpeza e análise estatistica de dados.<br>
                                            - Aprendizado supervisionado: regressão, classificação.<br><br>
                                            - Conhecer clusterização e agrupamentos.<br>
                                            - Conhecimentos básicos de estatística.<br>
                                            - Experiência em linguagens estatísticas (python ou R) é desejável.<br>

                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de pelo menos 1 ano em programação e orientação a objetos.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevcie2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Expressar-se e comunicar-se com facilidade.<br>
                                            - Realizar a priozação e organização das tarefas.<br>
                                            - Analisar e propor soluções/arquitetura de modelos.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de pelo menos 1 ano em linguagens de programação estatísticas
                                            (python ou R) e as principais.<br>
                                            bibliotecas de machine learning. Se Python: pandas, scikitlearn, numpy.
                                            - Experiência em análise, limpeza e processamento de dados de dados
                                            ruidosos.<br>
                                            - Experiência na criação de modelos supervisionados (regressão e
                                            classificação).<br>
                                            e não-supervisionados (clsuterização e agrupamentos) para problemas
                                            reais.<br>
                                            - Estar cursando mestrado na área de Machine Learning é um diferencial.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sofdevcie3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            <b>Não é exigido graduação.</b><br>
                                            <b>Pode estar cursando ou não:</b><br>
                                            - Análise e Desenvolvimento de Sistemas.<br>
                                            - Ciência da Computação.<br>
                                            - Engenharia da Computação.<br>
                                            - Engenharia Eletrônica.<br>
                                            - Sistemas de Informação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Liderar equipes técnicas de projeto.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de pelo menos 2 anos em linguagens de programação estatísticas
                                            (python ou R) e as principais.<br>
                                            bibliotecas de machine learning. Se Python: pandas, scikitlearn, numpy.
                                            - Experiência em análise, limpeza e processamento de dados de dados ruidosos
                                            para diversas aplicações.<br>
                                            - Experiência na criação de modelos supervisionados (regressão e
                                            classificação).<br>
                                            e não-supervisionados (clsuterização e agrupamentos) para diversas
                                            aplicações.<br>
                                            - Experiência na área de processamento de imagens/video é um diferencial.<br>
                                            - Experiência com deployment de modelos e principais problemas de um
                                            ambiente de produção.<br>
                                            - Possuir mestrado na área de Machine Learning é um diferencial.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 3 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>