<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Lider Técnico</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#soflid1" role="tab"
                        aria-controls="pills-home" aria-selected="true">Back-end</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#soflid2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Banco de Dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#soflid3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Front-end</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#soflid4" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#soflid5" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Requisitos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#soflid6" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Testes</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="soflid1" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Graduação em Análise e Desenvolvimento de Sistemas.<br>
                            - Ciência da Computação.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica.<br>
                            - Sistemas de Informação ou notório saber.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Definir a equipe e suas atividades.<br>
                            - Balizar a arquitetura da solução (Front, Back, BD).<br>
                            - Configurar ambientes de desenvolvimento (SandBox).<br>
                            - Fazer automatização build e deploy (CI & CD).<br>
                            - Avaliar o uso de bibliotecas e componentes.<br>
                            - Comunicar-se com a área gerencial da Radix e do cliente.<br>
                            - Ser Auto-gerenciável.<br>
                            - Aplicar treinamentos para a equipe.<br>
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Testes automatizados.<br>
                            - Versionamento de código fonte.<br>
                            - Orientação a objetos.<br>
                            - Protocolo HTTP.<br>
                            - Domínio do Padrão REST.<br>
                            - Padrão SOA.<br>
                            - Conhecimento intermediário de banco de dados (SQL).<br>
                            - Experiência com o processo de integração contínua (CI/CD).<br>
                            - Conhecimento sólido em padrões de projeto e design patterns.<br>
                            - Conhecimento reconhecido na área por no mínimo 5 anos.<br>
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência de 4 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="soflid2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Graduação em Análise e Desenvolvimento de Sistemas.<br>
                            - Ciência da Computação.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica.<br>
                            - Sistemas de Informação ou notório saber.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Definir a equipe e suas atividades.<br>
                            - Balizar a arquitetura da solução (Front, Back, BD).<br>
                            - Configurar ambientes de desenvolvimento (SandBox).<br>
                            - Fazer automatização build e deploy (CI & CD).<br>
                            - Avaliar o uso de bibliotecas e componentes.<br>
                            - Comunicar-se com a área gerencial da Radix e do cliente.<br>
                            - Ser Auto-gerenciável.<br>
                            - Aplicar treinamentos para a equipe.<br>

                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Conhecimento técnico reconhecido na área de atuação.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Vivência de 4 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="soflid3" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Graduação em Análise e Desenvolvimento de Sistemas.<br>
                            - Ciência da Computação.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica.<br>
                            - Sistemas de Informação ou notório saber.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Definir a equipe e suas atividades.<br>
                            - Balizar a arquitetura da solução (Front, Back, BD).<br>
                            - Configurar ambientes de desenvolvimento (SandBox).<br>
                            - Fazer automatização build e deploy (CI & CD).<br>
                            - Avaliar o uso de bibliotecas e componentes.<br>
                            - Comunicar-se com a área gerencial da Radix e do cliente.<br>
                            - Ser Auto-gerenciável.<br>
                            - Aplicar treinamentos para a equipe.<br>

                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Domínio em dois frameworks modernos (Ex.: Polymer, AngularJS, ReactJS, Vue.js).<br>
                            - Domínio em pré-processadores (Ex.: SASS, LESS).<br>
                            - Experiência com empacotadores para arquivos estáticos (Ex.: Webpack).<br>
                            - Experiência com transpiladores (Ex.: Babel, CoffeeScript, TypeScript).<br>
                            - Experiência com gerenciadores de dependências e pacotes e otimização dos mesmos (Ex.: NPM,
                            Yarn).<br>
                            - Experiência em arquitetura escalável e alto desempenho.<br>
                            - Experiência e boas práticas utilizando Cookies, SessionStorage e LocalStorage.<br>
                            - Experiência e boas práticas de segurança web (Ex.: XSS, CSRF, CORS, OAuth, JWT).<br>
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência de 4 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="soflid4" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Graduação em Análise e Desenvolvimento de Sistemas.<br>
                            - Ciência da Computação.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica.<br>
                            - Sistemas de Informação ou notório saber.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Definir a equipe e suas atividades.<br>
                            - Balizar a arquitetura da solução (Front, Back, BD).<br>
                            - Configurar ambientes de desenvolvimento (SandBox).<br>
                            - Fazer automatização build e deploy (CI & CD).<br>
                            - Avaliar o uso de bibliotecas e componentes.<br>
                            - Comunicar-se com a área gerencial da Radix e do cliente.<br>
                            - Ser Auto-gerenciável.<br>
                            - Aplicar treinamentos para a equipe.<br>

                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Conhecimento técnico reconhecido na área de atuação.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência de 4 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="soflid5" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Graduação em Ciência da Computação.<br>
                            - Análise de Sistemas.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica e de Computação ou similar.<br>
                            - Cursos similares.<br>
                            <b>Desejável:</b><br>
                            - Cursos em diferentes ferramentas e tecnologias.
                            - Certificação de Product Owner.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Definir a equipe e suas atividades.<br>
                            - Comunicar-se com a área gerencial da Radix e do cliente.<br>
                            - Ser Auto-gerenciável.<br>
                            - Aplicar treinamentos para a equipe.<br>
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Experiência sólida em testes de software.<br>
                            - Experiência com projetos ágeis.<br>
                            - Noções de desenvolvimento de software (programação).<br>
                            - Criação de protótipos de baixa fidelidade.<br>
                            - Elaboração de diagramas.<br>
                            - Elaboração de Casos de Uso.<br>
                            - Elaboração de Especificação Funcional.<br>
                            - Elaboração de Cenários com BDD.<br>
                            - Certificação de Análise de Requisitos.<br>
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Experiência de 4 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="soflid6" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            - Graduação ou especialização. Pode estar cursando ou já ter se formado.<br>
                            <b>Exemplos graduação:</b><br>
                            - Ciências da Computação.<br>
                            - Análise de Sistemas.<br>
                            - Engenharia da Computação.<br>
                            - Engenharia Eletrônica ou similares.<br>
                            <b>Exemplos especialização:</b><br>
                            - MBA em Engenharia de Software.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Definir a equipe e suas atividades.<br>
                            - Balizar a arquitetura da solução (Front, Back, BD).<br>
                            - Configurar ambientes de desenvolvimento (SandBox).<br>
                            - Fazer automatização build e deploy (CI & CD).<br>
                            - Avaliar o uso de bibliotecas e componentes.<br>
                            - Comunicar-se com a área gerencial da Radix e do cliente.<br>
                            - Ser Auto-gerenciável.<br>
                            - Aplicar treinamentos para a equipe.<br>

                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Conhecimento técnico reconhecido na área de atuação.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            - Vivência de 4 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>