<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Líder Técnico de Design</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h3>Formação Acadêmica</h3>
            <div class="txt">
                <p>
                    Graduação em Desenho Industrial, Design Gráfico, Comunicação Social/Publicidade,
                    Design de Produto, Webdesign, Webdesign, Técnico Design Gráfico.
                </p>
            </div>
            <h3>Requisitos de Entrada</h3>
            <div class="txt">
                <p>
                    - Definir a equipe e suas atividades.<br>
                    - Balizar a arquitetura da solução (Front, Back, BD).<br>
                    - Configurar ambientes de desenvolvimento (SandBox).<br>
                    - Fazer automatização build e deploy (CI & CD).<br>
                    - Avaliar o uso de bibliotecas e componentes.<br>
                    - Comunicar-se com a área gerencial da Radix e do cliente.<br>
                    - Ser Auto-gerenciável.<br>
                    - Aplicar treinamentos para a equipe.
                </p>
            </div>
            <h3>Conhecimentos técnicos</h3>
            <div class="txt">
                <p>
                    - Experiência com diferentes tipos de projeto (projetos críticos, complexidade da
                    experiência do usuário e das
                    interfaces requeridas), maturidade no desenvolvimento front-end, UX/UI, Design
                    Gráfico, Design de produto e metodologias.<br>
                    - Experiência com projetos ágeis.
                </p>
            </div>
            <h3>Experiência</h3>
            <div class="txt">
                <p>
                    Vivência de 4 anos em atividades correlatas.
                </p>
            </div>
            <h3>Competências Organizacionais</h3>
            <div class="txt">
                <p>
                    - Comunicação.<br>
                    - Orientação ao cliente.<br>
                    - Trabalho em equipe.<br>
                    - Orientação ao resultado.<br>
                    - Orientação a aprendizagem.
                </p>
            </div>
        </div>
    </div>
</div>