<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Coordenador de Design</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h3>Formação Acadêmica</h3>
            <div class="txt">
                <p>
                    Graduação em Desenho Industrial, Design Gráfico, Comunicação Social/Publicidade,
                    Design de Produto, Webdesign, Webdesign, Técnico Design Gráfico. Desejável: MBA em Gestão de Projetos.
                </p>
            </div>
            <h3>Requisitos de Entrada</h3>
            <div class="txt">
                <p>
                    - Antecipar problemas e tomar ações corretivas evitando prejuízos financeiros, de
                    qualidade, prazo e desmotivação da equipe.<br>
                    - Verificar se os requisitos estão sendo atendidos e o cliente está satisfeito com
                    a qualidade e desenvolvimento do projeto.<br>
                    - Garantir um fluxo estável de faturamento do projeto, de forma a otimizar o fluxo
                    de caixa e reduzindo o saldo de provisão de receita; se possível, antecipar
                    parcelas futuras.<br>
                    - Apoiar na identificação de novas oportunidades junto aos clientes.<br>
                    - Manter bom relacionamento com o cliente, garantindo sua satisfação e a
                    manutenção do mesmo a longo prazo.<br>
                    - Coaching de coordenadores.<br>
                    - Analisar criticamente os resultados e utilizar recursos de upward management
                    quando necessário.<br>
                    - Alocar e acomodar recursos entre equipe para atender aos requisitos do projeto.
                    <br>
                    - Garantir o desenvolvimento profissional (elaboração dos PDIs), na definição de
                    movimentações salarais / promoções e na promoção de feedbacks ao time com
                    consistência e frequência necessários.<br>
                    - Acompanhar e direcionar as atividades relacionadas à equipe de PMO/Planejamento
                    (PMO – Project management Office).
                </p>
            </div>
            <h3>Conhecimentos técnicos</h3>
            <div class="txt">
                <p>
                    - Capacidade de contribuição para elaboração de propostas comerciais.<br>
                    - Fluxo de desenvolvimento de projetos.<br>
                    - Análise Sistêmica.<br>
                    - Negociação comercial.<br>
                    - Experiência em liderança de projetos de Design ou profissionais de Design.<br>
                    - Experiência com diferentes tipos de projeto (projetos críticos, complexidade da
                    experiência do usuário e das interfaces requeridas), maturidade no
                    desenvolvimento front-end, UX/UI, Design Gráfico, Design de produto e
                    metodologias.<br>
                    - Experiência com projetos ágeis.
                </p>
            </div>
            <h3>Experiência</h3>
            <div class="txt">
                <p>
                    Vivência de 5 anos em atividades correlatas.
                </p>
            </div>
            <h3>Competências Organizacionais</h3>
            <div class="txt">
                <p>
                    - Comunicação.<br>
                    - Orientação ao cliente.<br>
                    - Trabalho em equipe.<br>
                    - Orientação ao resultado.<br>
                    - Orientação a aprendizagem.
                </p>
            </div>
        </div>
    </div>
</div>