<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Designer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#DES1" role="tab"
                        aria-controls="pills-home" aria-selected="true">Webdesigner I</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#DES2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Webdesigner
                        II</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#DES3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Webdesigner
                        III</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="DES1" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Graduação em Desenho Industrial, Design Gráfico, Design de Produto ou Web
                            Design.</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Apoiar a realização de pesquisas com os usuários, levantar requisitos,
                            desenvolver personas, desenvolver jornada do usuário, desenvolver fluxo
                            de navegação, desenvolver interfaces/protótipos em baixa e alta
                            fidelidade, testes de usabilidade.<br>
                            - Desenvolver interfaces funcionais utilizando frameworks fornecidos pelo
                            cliente ou plataformas de desenvolvimento de mercado.<br>
                            - Auxiliar a área de Marketing e Comercial no desenvolvimento de material
                            gráficas, identidade visual, apresentações multimídias e outros produtos
                            contribuindo na criação artística ou provendo material gráfico em
                            arquivos.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            Conhecimentos básicos de ferramentas de design gráfico.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            Vivência de 1 ano em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="DES2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            Graduação em Desenho Industrial, Design Gráfico, Design de Produto ou Web
                            Design.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Liderar a parte de design em projetos, sozinho ou com participação de
                            outros Web Designers e estagiários, em projetos complexos ou atuar em
                            diversos projeto ao mesmo tempo.<br>
                            - Garantir que as atividades de design sejam executadas dentro do prazo e
                            custo acordados para o projeto.<br>
                            - Manter-se atualizado quanto às práticas de UX/UI, front-end, ferramentas
                            e metodologias atuais.<br>
                            - Participar ativamente da Equipe de Design apoiando atividades, como
                            elaboração de relatórios, templates e implantação de novas ferramentas e
                            metodologias.<br>
                            - Criar interfaces e experiências inovadoras para os usuários.<br>
                            - Maximizar tempo de desenvolvimento, zelar pela qualidade dos projetos.
                            <br>
                            - Participar de diferentes tipos de projetos e tipos de teste com os
                            usuarios, realizando workshops ou outras diferentes metodologias.<br>
                            - Realizar testes de aceitação com o cliente.<br>
                            - Contribuir para o nível de excelência da equipe de Design através de
                            revisões por par e treinamentos para promover visibilidade e troca de
                            informações.<br>
                            - Apoiar a realização de pesquisas com os usuários, levantar requisitos,
                            desenvolver personas, desenvolver jornada do usuário, desenvolver fluxo
                            de navegação, desenvolver interfaces/protótipos em baixa e alta
                            fidelidade, testes de usabilidade.<br>
                            - Desenvolver interfaces funcionais utilizando frameworks fornecidos pelo
                            cliente ou plataformas de desenvolvimento de mercado.<br>
                            - Auxiliar a área de Marketing e Comercial no desenvolvimento de material
                            gráficas, identidade visual, apresentações multimídias e outros produtos
                            contribuindo na criação artística ou provendo material gráfico em
                            arquivos.<br>
                            - Habilidade para dar treinamentos.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Desenvolvimento de interfaces.<br>
                            - UX/UI.<br>
                            - Design Thinking.<br>
                            - Projetos ágeis.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Vivência de 4 anos em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <ul>
                            <li>Comunicação.</li>
                            <li>Orientação ao cliente.</li>
                            <li>Trabalho em equipe.</li>
                            <li>Orientação ao resultado.</li>
                            <li>Orientação a aprendizagem.</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="DES3" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            Graduação em Desenho Industrial, Design Gráfico, Design de Produto ou Web
                            Design.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Criar interfaces e experiências inovadoras para os usuários.<br>
                            - Maximizar tempo de desenvolvimento, zelar pela qualidade dos projetos.<br>
                            - Participar de diferentes tipos de projetos e tipos de teste com os
                            usuarios, realizando workshops ou outras diferentes metodologias.<br>
                            - Realizar testes de aceitação com o cliente.<br>
                            - Contribuir para o nível de excelência da equipe de Design através de
                            revisões por par e treinamentos para promover visibilidade e troca de
                            informações.<br>
                            - Apoiar a realização de pesquisas com os usuários, levantar requisitos,
                            desenvolver personas, desenvolver jornada do usuário, desenvolver fluxo
                            de navegação, desenvolver interfaces/protótipos em baixa e alta
                            fidelidade, testes de usabilidade.<br>
                            - Desenvolver interfaces funcionais utilizando frameworks fornecidos pelo
                            cliente ou plataformas de desenvolvimento de mercado.<br>
                            - Auxiliar a área de Marketing e Comercial no desenvolvimento de material
                            gráficas, identidade visual, apresentações multimídias e outros produtos
                            contribuindo na criação artística ou provendo material gráfico em
                            arquivos.<br>
                            - Atuar com diferentes tipos de projeto, projetos críticos, complexidade
                            da experiência do usuário e das interfaces requeriadas, maturidade no
                            desenvolvimento front-end.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Desenvolvimento de interfaces.<br>
                            - Projetos ágeis.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            Vivência de 2 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>