<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Desenvolvedor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">

                <!--Cybersecurity-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#autcyber">Cybersecurity</button>
                        </h5>
                    </div>
                    <div id="autcyber" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#autcyber1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autcyber2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autcyber3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="autcyber1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação na área de tecnologia ou notório saber.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Diagnosticar e solucionar problemas de segurança de redes.<br>
                                            - Analisar e responder falhas de segurança de redes.<br>
                                            - Testar e identificar vulnerabilidades em sistemas e redes.<br>
                                            - Implementar proteção de dados e de infraestrutura de TI.<br>
                                            Participar em processos de gerenciamento de mudanças.<br>
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência com linguagens de programação operacional (Python, Power Shell
                                            ou similares).
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Desejável experiência em tecnologias / linguagens de programação.<br>
                                            Experiência de 1 ano em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autcyber2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação na área de tecnologia.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Realizar Backups e procedimentos de recuperação.<br>
                                            - Administrar sistemas operacionais e ambientes em nuvem.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento das tecnologias de segurança de infraestrutura mais
                                            adotadas.<br>
                                            - Conhecimento de protocolos e serviços como TCP/IP, OPC, SSL, HTTP, DNS,
                                            SNMP, etc.<br>
                                            - Conhecimentos pertinentes as certificações ITIL/COBIT.<br>
                                            - Conhecimentos de leis relacionadas a cyber segurança, como LGPD.<br>
                                            - Conhecimento em normas e padrões como ISO 27002, IEC 62443 ou NIST.<br>
                                            - Conhecimento em cybersegurança em sistemas/redes industriais.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 3 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autcyber3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação na área de tecnologia.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Realizar avaliação de maturidade, análise de riscos e implantação de
                                            recomendações de processos e tecnologias de segurança da informação.<br>
                                            - Criar roadmap de projetos/ações para minimizar riscos de cybersegurança.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Dominar conceitos e técnicas apresentadas em frameworks ISO 27K, COBIT,
                                            ITIL, Payment Card Industry Security Standards Council (PCI-SSC), Marco
                                            Civil da Internet (Lei nº 12.965/14), General Data Protecti+A2on Regulation
                                            (GDPR), NIST, ENISA, LGPD entre outros.<br>
                                            - Desejável Certificaçãoes: COBIT, ITIL, ISO 27002, CompTIA Security+,
                                            ISA/IEC
                                            62443
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 6 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Dados Industriais-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#autodados">Dados Industriais</button>
                        </h5>
                    </div>
                    <div id="autodados" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#autodados1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autodados2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autodados3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="autodados1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Ciência da Computação, Tecnologia da Informação, Engenharia e
                                            afins.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem de aquisição de dados em sistemas
                                            industriais.<br>
                                            - Historiamento de dados de séries temporais.<br>
                                            - Contextualização de dados industriais.<br>
                                            - Análise de dados em tempo real.<br>
                                            - Criação de dashboards de processo ou disponibilização destes dados para
                                            sistemas terceiros.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Se OSIsoft PI:<br>
                                            Conhecimento geral sobre infraestrutura do sistema PI, PI Interfaces, Data
                                            Archive, Asset Framework, Event Frames, PI Analytics, PI Visualization e PI
                                            System Access.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Desejável experiência em tecnologias / linguagens de programação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autodados2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação em Engenharia, Ciência da Computação, Tecnologia da Informação e
                                            afins.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem de aquisição de dados em sistemas
                                            industriais.<br>
                                            - Historiamento de dados de séries temporais.<br>
                                            - Contextualização de dados industriais.<br>
                                            - Análise de dados em tempo real.<br>
                                            - Criação de dashboards de processo ou disponibilização destes dados para
                                            sistemas terceiros.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Se OSIsoft PI:<br>
                                            - Desejável certificação: OSIsoft PI Infrastructure Accreditation.<br>
                                            - Instalação/conﬁguração de interfaces.<br>
                                            - Criação/gerenciamento de tags do PI.<br>
                                            - Conﬁgurações de segurança DA e AF.<br>
                                            - Desenvolvimento de AF Templates e AF Elements.<br>
                                            - Planejamento e desenvolvimento de Análises, Event Frames e Notiﬁcations.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>

                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autodados3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Ciência da Computacao, Tecnologia daIinformação, Engenharia e
                                            afins.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem de aquisição de dados em sistemas
                                            industriais.<br>
                                            - Historiamento de dados de séries temporais.<br>
                                            - Contextualização de dados industriais.<br>
                                            - Análise de dados em tempo real.<br>
                                            - Criação de dashboards de processo ou disponibilização destes dados para
                                            sistemas terceiros.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Se OSIsoft PI:<br>
                                            - Desejável certificação: OSIsoft PI Planning & Installation
                                            Accreditation.<br>
                                            - Desejável certificação: OSIsoft PI Application Development
                                            Accreditation.<br>
                                            - Arquitetar soluções PI que utilizem plenamente o potencial do sistema.<br>
                                            - Arquitetar soluções integradas a outros sistemas (ex.: MES, SAP).<br>
                                            - Planejar, instalar, configurar e gerenciar Data Archive, Asset Framework,
                                            Analysis Service, PI Web API e PI Vision.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 4 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Cientista de Dados-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#autcidado">Ciência de Dados</button>
                        </h5>
                    </div>
                    <div id="autcidado" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#autcidado1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autcidado2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autcidado3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="autcidado1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Ciência da Computacao, Tecnologia da Iinformação, Engenharia
                                            e afins ou notório saber.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Contribuir para as atividades da planning.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento básico em programação e orientação a objetos.<br>
                                            - Conhecer Machine Learning/Análise de Dados que mais especificamente os
                                            seguintes tópicos:<br>
                                            - Limpeza e análise estatistica de dados.<br>
                                            - Aprendizado supervisionado: regressão, classificação.<br>
                                            - Conhecer clusterização e agrupamentos.<br>
                                            - Conhecimentos básicos de estatística.<br>
                                            - Experiência em linguagens estatísticas (python ou R) é desejável.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de pelo menos 1 ano em programação e orientação a objetos.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autcidado2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Ciência da Computacao, Tecnologia da Informação, Engenharia e
                                            afins.<br>
                                            - Mestrado em Machine learning é um diferencial.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Expressar-se e comunicar-se com facilidade.<br>
                                            - Realizar a priozação e organização das tarefas.<br>
                                            - Analisar e propor soluções/arquitetura de modelos.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de pelo menos 1 ano em linguagens de programação estatísticas
                                            (python ou R) e as principais bibliotecas de machine learning. Se Python:
                                            pandas, scikitlearn, numpy.<br>
                                            - Experiência em análise, limpeza e processamento de dados de dados
                                            ruidosos.<br>
                                            - Experiência na criação de modelos supervisionados (regressão e
                                            classificação) e não-supervisionados (clsuterização e agrupamentos) para
                                            problemas reais.<br>
                                            - Estar cursando mestrado na área de Machine Learning é um diferencial.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>

                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autcidado3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Ciência da Computacao, Tecnologia da Informação, Engenharia e
                                            afins.<br>
                                            - Mestrado em Machine learning é um diferencial.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Liderar equipes técnicas de projeto.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de pelo menos 2 anos em linguagens de programação estatísticas
                                            (python ou R) e as principais bibliotecas de machine learning.<br>
                                            - Se Python: pandas, scikitlearn, numpy.<br>
                                            - Experiência em análise, limpeza e processamento de dados de dados ruidosos
                                            para diversas aplicações.<br>
                                            - Experiência na criação de modelos supervisionados (regressão e
                                            classificação) e não-supervisionados (clsuterização e agrupamentos) para
                                            diversas
                                            aplicações.<br>
                                            - Experiência na área de processamento de imagens/video é um
                                            diferencial.<br>
                                            - Experiência com deployment de modelos e principais problemas de um
                                            ambiente de produção.<br>
                                            - Possuir mestrado na área de Machine Learning é um diferencial.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 4 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Engenharia de Dados-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#engdado1">Engenharia de Dados</button>
                        </h5>
                    </div>
                    <div id="engdado1" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#engdado11"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engdado12"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engdado13"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="engdado11" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação em Ciência da Computação, Tecnologia da Informação, Engenharia e
                                            afins.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem de aquisição de dados em sistemas
                                            industriais.<br>
                                            - Historiamento de dados de séries temporais.<br>
                                            - Contextualização de dados industriais.<br>
                                            - Análise de dados em tempo real.<br>
                                            - Criação de dashboards de processo ou disponibilização destes dados para
                                            sistemas terceiros.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Se OSIsoft PI:<br>
                                            Conhecimento geral sobre infraestrutura do sistema PI, PI Interfaces, Data
                                            Archive, Asset Framework, Event Frames, PI Analytics, PI Visualization e PI
                                            System Access.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Desejável experiência em tecnologias / linguagens de programação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="engdado12" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação em Ciência da Computação, Tecnologia da Informação, Engenharia e
                                            afins.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem de aquisição de dados em sistemas
                                            industriais.<br>
                                            - Historiamento de dados de séries temporais.<br>
                                            - Contextualização de dados industriais.<br>
                                            - Análise de dados em tempo real.<br>
                                            - Criação de dashboards de processo ou disponibilização destes dados para
                                            sistemas terceiros.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Se OSIsoft PI:<br>
                                            - Desejável certificação: OSIsoft PI Infrastructure Accreditation.<br>
                                            - Instalação/conﬁguração de interfaces.<br>
                                            - Criação/gerenciamento de tags do PI.<br>
                                            - Conﬁgurações de segurança DA e AF.<br>
                                            - Desenvolvimento de AF Templates e AF Elements.<br>
                                            - Planejamento e desenvolvimento de Análises, Event Frames e
                                            Notiﬁcations.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="engdado13" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação em Ciência da Computação, Tecnologia da Informação, Engenharia e
                                            afins.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem de aquisição de dados em sistemas
                                            industriais.<br>
                                            - Historiamento de dados de séries temporais.<br>
                                            - Contextualização de
                                            - Dados industriais.<br>
                                            - Análise de dados em tempo real.<br>
                                            - Criação de dashboards de processo ou disponibilização destes dados para
                                            sistemas terceiros.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Se OSIsoft PI:
                                            - Desejável certificação: OSIsoft PI Planning & Installation Accreditation.<br>
                                            - Desejável certificação: OSIsoft PI Application Development Accreditation.<br>
                                            - Arquitetar soluções PI que utilizem plenamente o potencial do sistema.<br>
                                            - Arquitetar soluções integradas a outros sistemas (ex.: MES, SAP).<br>
                                            - Planejar, instalar, configurar e gerenciar Data Archive, Asset Framework,.<br>
                                            - Analysis Service, PI Web API e PI Vision.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência de 4 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Desenvolvedor de BI-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#autdevbi">Business Intelligence</button>
                        </h5>
                    </div>
                    <div id="autdevbi" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#autdevbi1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autdevbi2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autdevbi3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="autdevbi1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação na área de tecnologia ou notório saber.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Desenvolver, testar e validar soluções de visualização para BI, utilizando
                                            técnicas de exibição de KPIs.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento de banco de dados (SQL).<br>
                                            - Estatística básica.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Desejável experiência em tecnologias / linguagens de programação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autdevbi2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação na área de tecnologia.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Desenvolver e automatizar relatórios.<br>
                                            - Executar atividades referentes a governança de dados.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento intermediário de banco de dados (SQL).<br>
                                            - Sólidos conhecimentos em estatística.<br>
                                            - Sólidos conhecimentos em análise e mineração de dados.<br>
                                            - Sólidos conhecimentos em ferramentas de visualização de dados.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>

                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autdevbi3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação na área de tecnologia.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Desenvolver processos e ferramentas para monitorar e analisar dados de
                                            diferentes fontes de dados.<br>
                                            - Definir um roadmap de BI de médio e longo prazo para adoção de novas
                                            tecnologias e ferramentas.<br>
                                            - Planejar governança de dados, garantindo o adequado acesso à informação do
                                            ambiente de BI.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimento avançado de banco de dados (SQL), com capacidade para
                                            planejar e arquitetar solução de armazenamento de dados.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 5 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Desenvolvedor Cloud-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#autdevcloud">Cloud</button>
                        </h5>
                    </div>
                    <div id="autdevcloud" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                        href="#autdevcloud1" role="tab" aria-controls="pills-home"
                                        aria-selected="true">Desenvolvedor I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autdevcloud2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        II</a>
                                </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autdevcloud3"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        III</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Desenvolvedor
                                        IV</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="autdevcloud1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Ciência da Computação, Engenharia, Tecnologia da Informação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Implementar soluções baseada em cloud (IaaS, PaaS).<br>
                                            - Monitorar aplicações, hardware, software e segurança de recursos em cloud.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Azure e AWS.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Desejável experiência em tecnologias / linguagens de programação.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autdevcloud2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Ciência da Computação, Engenharia, Tecnologia da Informação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Monitorar privacidade da Cloud.<br>
                                            - Guiar transferências de aplicações para a cloud.<br>.
                                            - Implementar topologias com alta disponibilidade e tolerância a falhas.
                                            - Implementar técnicas DevOps
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência com ferramentas de entregas contínuas utilizando automação de
                                            processos CI/CD.<br>
                                            - Conhecimentos para monitorar privacidade da cloud junto com a TI.<br>
                                            - Conhecer técnicas para implementação de topologias com alta
                                            disponibilidade
                                            e tolerância a falhas.<br>
                                            - Implementar técnicas DevOps.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 2 anos em atividades correlatas.
                                        </p>
                                    </div>

                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autdevcloud3" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Ciência da Computação, Engenharia, Tecnologia da Informação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Desenvolver e implementar uma estratégia completa de cloud.<br>
                                            - Construir roadmap de implantação de cloud.<br>
                                            - Criar ambientes para micro serviços utilizando de Docker Container.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            Desejável certificação: AWS ou Azure.<br>
                                            Experiência em ambientes em cluster Linux.<br>
                                            Experiência em Banco de Dados Oracle, MySQL, Firebird ou SQL Server.<br>
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            - Experiência de 4 anos em atividades correlatas.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>