<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Engenheiro 3</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#ENG31" role="tab"
                        aria-controls="pills-home" aria-selected="true">Eng. de Dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#ENG32" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Eng. de Automação
                        Industrial </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#ENG33" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Eng. de Controle
                        de Sistemas Industriais</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="ENG31" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Graduação em Ciência da Computação, Tecnologia da Informação, Engenharia e afins.</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            Arquitetar a infraestrutura necessária para a entrega; <br>
                            Programar em Python/Scala/Java (bibliotecas comuns NumPy, Pandas, etc.);<br>
                            Usar Notebook (Jupyter, Databricks); <br>
                            Transformar dados (manipulação de dados, estruturação de dados,
                            transformações matemáticas, transformações estruturais, leitura e parse de
                            arquivos - excel, pdf, csv, visualização de dados );<br>
                            Desenhar e Desenvolver Pipelines de Dados (ETL, migração, arquitetura
                            lambda); <br>
                            Usar, estruturar e desenvolver Data Lake e Data Warehouse; <br>
                            Utilizar e implementar ferramentas apache ou comerciais com certificação ou
                            experiência ampla;<br>
                            Manipular dados em SQL e NoSQL. <br>
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            Linux - Experiência com Cloud (Azure preferencialmente) ;<br>
                            Experiência com desenvolvimento (services, web, etc.); <br>
                            Data Modeling ;<br>
                            Manipulação de dados em SQL e NoSQL;<br>
                            Data Lake e Data Warehouse; <br>
                            DevOps (CI/CD, docker, kubernetes, etc.); <br>
                            Ferramentas apache ou comerciais.<br>
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p> Experiência mínima de 8 anos em atividades correlatas;<br>
                            Conhecimento de metodologias de gestão de projetos;<br>
                            Habilidade para ministrar treinamento.<br></p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        Comunicação;<br>
                        Orientação ao cliente;<br>
                        Trabalho em equipe;<br>
                        Orientação ao resultado;<br>
                        Orientação a aprendizagem.<br>
                    </div>
                </div>
                <div class="tab-pane fade" id="ENG32" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Graduação em Engenharia de Controle e automação.</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            Idenfificar novos trabalhos (Mudanças de projeto) para agregar valor aos
                            trabalhos junto aos clientes;<br>
                            Propor melhorias nos processos do clientes e projetos.<br>
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            Desenvolvimento de lógicas em linguagem IEC 61131-3;<br>
                            Conhecimentos e configuração de sistemas SCADA e configuração de
                            alarmes;<br>
                            Conhecimentos de protocolos de comunicação indústrias e redes
                            industrias.<br>
                            Possuir habilidades com as ferramentas de desenho 2D tais com autocad,
                            microstation e outros;<br>
                            Conhecimento sobre interfaces nos projetos de engenharia;<br>
                            Conhecimento em Sistema De controle de Segurança (SIL) e Calculos de
                            Disponibilidade do sistema.<br>

                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 8 (oito) anos em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            Comunicação;<br>
                            Orientação ao cliente;<br>
                            Trabalho em equipe;<br>
                            Orientação ao resultado;<br>
                            Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="ENG33" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Graduação em Engenharia, de preferência Engenharia de Produção com registro
                            no CREA</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            Elaborar estratégias e projeto de controladores regulatórios e avançados
                            visando maior adequação ao processo;<br>
                            Elaboração de estratégias visando otimização de processos possivelmente
                            combinando mais de um algoritmo.
                            <br>
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            Desejável pós-graduação na área de Controle de Sistemas Dinâmicos e/ou
                            Otimização de Processos.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p> Experiência mínima de 8 anos em atividades correlatas.<br>
                            Conhecimento de metodologias de gestão de projetos.<br>
                            Habilidade para ministrar treinamento</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            Comunicação;<br>
                            Orientação ao cliente;<br>
                            Trabalho em equipe;<br>
                            Orientação ao resultado;<br>
                            Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>