<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Gerente Geral</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#autgeg" role="tab"
                        aria-controls="pills-home" aria-selected="true">Gerente Geral</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="autgeg" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            Graduação em Engenharia, Ciências da Computação ou similares.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>- Garantir as metas estabelecidas.<br>
                            - Estabelecer os processos necessários para execução dos projetos.<br>
                            - Acompanhar o faturamento e a receita mensal.<br>
                            - Gerenciar carteira de projetos com clientes.
                        </p>
                    </div>
                    <h3>Conhecimentos Técnicos</h3>
                    <div class="txt">
                        <p>- Gestão de Pessoas e Processos. <br>
                            - Metodologia ágil.</p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            10 anos de experiência em gerenciamento e planejamento de projetos.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>- Gestão do negócio.<br>
                            - Gestão de pessoas.<br>
                            - Alianças estratégicas.<br>
                            - Comunicação.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>