<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Engenheiro Automativo </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#ENGAUT1" role="tab"
                        aria-controls="pills-home" aria-selected="true">Engenheiro I</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#ENGAUT2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Engenheiro II</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="ENGAUT1" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Graduação em Engenharia de Controle e automação</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            Elaborar documentação dentro do prazo;<br>
                            Elaborar projetos com qualidade técnica;<br>
                            Propor melhorias aos processos de elaboração dos documentos;<br>
                            Propor uma arquitetura de sistemas de automação;<br>
                            Realizar estudos de melhorias e consultorias em sistemas existentes;<br>
                            Elaborar especificação de equipamentos de automação: IHM, CLP, Relés;<br>
                            Elaborar/revisar documentação de projetos de automação: lista de pontos, diagrama de
                            interligação, desenho de arquitetura e memorial descritivo;<br>
                            Propor utilização ferramentas para otimização das atividades rotineiras.<br>
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            Desenvolvimento de lógicas em linguagem IEC 61131-3;<br>
                            Conhecimentos e configuração de sistemas SCADA e configuração de alarmes;<br>
                            Conhecimentos de protocolos de comunicação indústrias e redes industrias;<br>
                            Possuir habilidades com as ferramentas de desenho 2D tais com autocad, microstation e
                            outros;<br>
                            Conhecimento sobre interfaces nos projetos de engenharia.<br>

                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 2 (dois) anos em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        Comunicação;<br>
                        Orientação ao cliente;<br>
                        Trabalho em equipe;<br>
                        Orientação ao resultado;<br>
                        Orientação a aprendizagem.<br>
                    </div>
                </div>
                <div class="tab-pane fade" id="ENGAUT2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>Graduação em Engenharia de Controle e automação.</p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            Criar e/ou propor novas ferramentas para redução de prazo na execução dos documentos; <br>
                            Idenfificar novos trabalhos (Mudanças de projeto) para agregar valor aos trabalhos junto aos
                            clientes;<br>
                            Propor melhorias nos processos do clientes e projetos;<br>
                            Desenvolver colaboradores compartilhando conhecimento.<br>

                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            Desenvolvimento de lógicas em linguagem IEC 61131-3;<br>
                            Conhecimentos e configuração de sistemas SCADA e configuração de alarmes;<br>
                            Conhecimentos de protocolos de comunicação indústrias e redes industrias;<br>
                            Possuir habilidades com as ferramentas de desenho 2D tais com autocad, microstation e
                            outros;<br>
                            Conhecimento sobre interfaces nos projetos de engenharia.<br>


                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>Experiência mínima de 5 (cinco) anos em atividades correlatas.</p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            Comunicação;<br>
                            Orientação ao cliente;<br>
                            Trabalho em equipe;<br>
                            Orientação ao resultado;<br>
                            Orientação a aprendizagem.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>