<div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Líder Técnico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#LID1" role="tab"
                            aria-controls="pills-home" aria-selected="true">Ciência de Dados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#LID2" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Cloud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#LID3" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Controle de
                            Sistemas Industriais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#LID4" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Cybersecurity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#LID5" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Dados
                            Industriais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#LID6" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Automação
                            Industrial</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="LID1" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>Graduação em Ciência da computação ou notório saber em Ciência de dados.</p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            Analisar e propor soluções/arquitetura de modelos; <br>
                            Expressar-se bem; explicar conceitos complexos com facilidade;<br>
                            Elaborar consultas técnicas ao cliente;<br>
                            Liderar reuniões técnicas com o cliente e com a equipe;<br>
                            Liderar Design Review e fazer a gestão do Relatório de ações e recomendações
                            provenientes das sessões;<br>
                            Alocar e acomodar recursos entre a equipe para atender aos requisitos do
                            projeto, respeitando o cronograma da disciplina e suas interdependências com as
                            outras disciplinas do projeto;<br>
                            Prestar treinamento e suporte aos membros da equipe;<br>
                            Prestar suporte à área de Planejamento;<br>
                            Participar na elaboração de propostas técnicas junto à área Comercial, estimando
                            esforços e definindo soluções e equipes.<br>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            Experiência de pelo menos 5 anos em linguagens de programação estatísticas
                            (python ou R) e as principais bibliotecas de machine learning. Se Python:
                            pandas, scikitlearn, numpy.<br>
                            Sólida Experiência em análise, limpeza e processamento de dados de dados
                            ruidosos
                            para diversas aplicações.<br>
                            Sólida experiência na criação de modelos supervisionados (regressão e
                            classificação). <br>
                            e não-supervisionados (clsuterização e agrupamentos) para problemas reais para
                            diversas aplicações.<br>
                            Experiência na área de processamento de imagens/video.<br>
                            Experiência com deployment de modelos e principais problemas de um ambiente de
                            produção.<br>
                            Possuir mestrado na área de Machine Learning. Estar cursando doutorado é um
                            diferencial.<br>
                            Ler e falar inglês.<br>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            Comunicação;<br>
                            Orientação ao cliente;<br>
                            Trabalho em equipe;<br>
                            Orientação a resultados;<br>
                            Orientação a aprendizagem.<br>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="LID2" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>Graduação em Ciência da Computação, Engenharia da Computação, Tecnologia da
                                Informação ou área relevante</p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            Analisar e propor soluções/arquitetura de modelos;<br>
                            Expressar-se bem; explicar conceitos complexos com facilidade;<br>
                            Elaborar consultas técnicas ao cliente;<br>
                            Liderar reuniões técnicas com o cliente e com a equipe;<br>
                            Liderar Design Review e fazer a gestão do Relatório de ações e recomendações
                            provenientes das sessões;<br>
                            Alocar e acomodar recursos entre a equipe para atender aos requisitos do
                            projeto, respeitando o cronograma da disciplina e suas interdependências com as
                            outras disciplinas do projeto;<br>
                            Prestar treinamento e suporte aos membros da equipe;<br>
                            Prestar suporte à área de Planejamento;<br>
                            Participar na elaboração de propostas técnicas junto à área Comercial, estimando
                            esforços e definindo soluções e equipes.<br>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>Ser referência técnica na área de cloud</p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            Comunicação;<br>
                            Orientação ao cliente;<br>
                            Trabalho em equipe;<br>
                            Orientação a resultados;<br>
                            Orientação a aprendizagem.<br>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="LID3" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>Graduação em Engenharia de Controle e Automação, Elétrica, Eletrônica,
                                Química ou Mecânica ou notório saber em Controle de sistemas industriais.
                            </p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            Analisar e propor soluções/arquitetura de modelos;<br>
                            Expressar-se bem; explicar conceitos complexos com facilidade;<br>
                            Elaborar consultas técnicas ao cliente;<br>
                            Liderar reuniões técnicas com o cliente e com a equipe;<br>
                            Liderar Design Review e fazer a gestão do Relatório de ações e recomendações
                            provenientes das sessões;<br>
                            Alocar e acomodar recursos entre a equipe para atender aos requisitos do
                            projeto, respeitando o cronograma da disciplina e suas interdependências com as
                            outras disciplinas do projeto;<br>
                            Prestar treinamento e suporte aos membros da equipe;<br>
                            Prestar suporte à área de Planejamento;<br>
                            Participar na elaboração de propostas técnicas junto à área Comercial, estimando
                            esforços e definindo soluções e equipes.<br>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>Elaboração das estratégias de otimização e controle em alto nível além da
                                definição das métricas para avaliação de desempenho dos controladores.
                                Ser referência técnica em controle de sistemas industriais</p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            Comunicação;<br>
                            Orientação ao cliente;<br>
                            Trabalho em equipe;<br>
                            Orientação ao resultado;<br>
                            Orientação a aprendizagem.<br>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="LID4" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>Graduação em Ciência da Computação, Engenharia da Computação, Tecnologia da
                                Informação ou notório saber em Cybersecurity.</p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            Analisar e propor soluções/arquitetura de modelos.
                            Expressar-se bem; explicar conceitos complexos com facilidade.
                            Elaborar consultas técnicas ao cliente;
                            Liderar reuniões técnicas com o cliente e com a equipe;
                            Liderar Design Review e fazer a gestão do Relatório de ações e recomendações
                            provenientes das sessões;
                            Alocar e acomodar recursos entre a equipe para atender aos requisitos do
                            projeto, respeitando o cronograma da disciplina e suas interdependências com as
                            outras disciplinas do projeto;
                            Prestar treinamento e suporte aos membros da equipe;
                            Prestar suporte à área de Planejamento;
                            Participar na elaboração de propostas técnicas junto à área Comercial, estimando
                            esforços e definindo soluções e equipes.
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>Ser referência técnica na área de Cybersecurity</p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            Comunicação;<br>
                            Orientação ao cliente;<br>
                            Trabalho em equipe;<br>
                            Orientação a resultados;<br>
                            Orientação a aprendizagem.<br>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="LID5" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>Graduação em Engenharia ou notório saber em dados industriais.</p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            Elaborar consultas técnicas ao cliente;<br>
                            Liderar reuniões técnicas com o cliente e com a equipe;<br>
                            Liderar Design Review e fazer a gestão do Relatório de ações e recomendações
                            provenientes das sessões;<br>
                            Alocar e acomodar recursos entre a equipe para atender aos requisitos do
                            projeto, respeitando o cronograma da disciplina e suas interdependências com as
                            outras disciplinas do projeto;<br>
                            Prestar treinamento e suporte aos membros da equipe;<br>
                            Prestar suporte à área de Planejamento;<br>
                            Participar na elaboração de propostas técnicas junto à área Comercial, estimando
                            esforços e definindo soluções e equipes envolvendo sistemas de dados
                            industriais;<br>
                            Atuar como referência em dados industriais na empresa;<br>
                            Capacitar desenvolvedores para melhorar suas habilidades e para obtenção de
                            certificações OSI.<br>
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>Ser referência em aquisição de dados em sistemas industriais; historiamento
                                de dados de séries temporais; contextualização de dados industriais; análise
                                de dados em tempo real; criação de dashboards de processo; ou
                                disponibilização destes dados para sistemas terceiros.</p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>Experiência mínima de 5 (cinco) anos em atividades relacionadas à dados
                                industriais.</p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            Comunicação;<br>
                            Orientação ao cliente;<br>
                            Trabalho em equipe;<br>
                            Orientação a resultados;<br>
                            Orientação a aprendizagem.<br>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="LID6" role="tabpanel">
                        <h3>Formação Acadêmica</h3>
                        <div class="txt">
                            <p>Curso técnico de automação, eletrotecnico ou em graduação em curso de
                                engenharia e afins.</p>
                        </div>
                        <h3>Requisitos de Entrada</h3>
                        <div class="txt">
                            Analisar e propor soluções/arquitetura de modelos.<br>
                            Expressar-se bem; explicar conceitos complexos com facilidade.<br>
                            Elaborar consultas técnicas ao cliente;<br>
                            Liderar reuniões técnicas com o cliente e com a equipe;<br>
                            Liderar Design Review e fazer a gestão do Relatório de ações e recomendações
                            provenientes das sessões;<br>
                            Alocar e acomodar recursos entre a equipe para atender aos requisitos do
                            projeto, respeitando o cronograma da disciplina e suas interdependências com as
                            outras disciplinas do projeto;<br>
                            Prestar treinamento e suporte aos membros da equipe;<br>
                            Prestar suporte à área de Planejamento;<br>
                            Participar na elaboração de propostas técnicas junto à área Comercial, estimando
                            esforços e definindo soluções e equipes.<br>
    
                        </div>
                        <h3>Conhecimentos técnicos</h3>
                        <div class="txt">
                            <p>Ser referência técnica na área de automação industrial</p>
                        </div>
                        <h3>Experiência</h3>
                        <div class="txt">
                            <p>Experiência mínima de 5 (cinco) anos em atividades relacionadas à disciplina
                            </p>
                        </div>
                        <h3>Competências Organizacionais</h3>
                        <div class="txt">
                            Gestão do negócio;<br>
                            Gestão de pessoas;<br>
                            Alianças estratégicas;<br>
                            Comunicação.<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>