<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Assistente Técnico I - Técnico de Automação
                Industrial</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h3>Formação Acadêmica</h3>
            <div class="txt">
                <p>
                    Curso técnico de automação, eletrotécnico ou afins.
                </p>
            </div>
            <h3>Requisitos de Entrada</h3>
            <div class="txt">
                <p>
                    - Atuar em projetos de automação industrial desenvolvendo lógicas de
                    intertravamento de CLPs, telas de supervisão (SCADA & HMI).</br>
                    - Realizar atividades de comissionamento, de fiscalização de campo e dando apoio
                    no campo para engenheiros de controle de sistemas industriais para elaboração de
                    estratégias de controle regulatório e avançado.
                </p>
            </div>
            <h3>Conhecimentos técnicos</h3>
            <div class="txt">
                <p>
                    - Conhecimento básico de automação industrial: O que é um CLP, um SCADA, um
                    sensor.</br>
                    - Familiaridade com computador e tecnologia.
                </p>
            </div>
            <h3>Experiência</h3>
            <div class="txt">
                <p>
                    Experiência em estágios com atividades correlatas.
                </p>
            </div>
            <h3>Competências Organizacionais</h3>
            <div class="txt">
                <p>
                    - Comunicação.</br>
                    - Orientação ao cliente.</br>
                    - Trabalho em equipe.</br>
                    - Orientação ao resultado.</br>
                    - Orientação a aprendizagem.
                </p>
            </div>
        </div>
    </div>
</div>