<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Engenheiro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">

                <!--Sistemas Industriais-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#engauto1">Controle de Sistemas Industriais</button>
                        </h5>
                    </div>
                    <div id="engauto1" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#engauto11"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Engenheiro I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#engauto12"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Engenheiro II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="engauto11" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Engenharia de Controle e Automação, Elétrica, Eletrônica,
                                            Química ou Mecânica.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem a configuração, sintonia e/ou
                                            desenvolvimento de alogoritmos de algoritmos de controle e otimização de
                                            processos.<br>
                                            - Atuar na identificação do modelo elaboração e implantação dos
                                            controladores regulatórios e avançados para processos mono e multivariáveis.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimentos dos principais protocolos de comunicação em redes
                                            industriais
                                            (serial e ethernet).<br>
                                            - Experiência com programação orientada a objeto e utilização de design
                                            patterns.<br>
                                            - Experiência com bancos de dados relacionais.<br>
                                            - Conhecimento aprofundado em modelagem de processos e teoria de controle
                                            clássica.<br>
                                            - Conhecimento em Identificação de Sistemas Dinâmicos.<br>
                                            - Domínio de ao menos uma ferramenta para modelagem e simulação de processos
                                            (e.x.: Matlab/Simulink, Scilab/Scicos, etc).<br>
                                            - Análise, sintonia e desenvolvimento de malhas de controle regulatório.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência mínima de 2 anos em atividades correlatas.
                                            Recomendado 2 anos de experiência como Analista II.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="engauto12" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação em Engenharia em geral, de preferência Engenharia de Produção com
                                            registro no CREA.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Analisar e sintonizar malhas de controle avançado multivariável.<br>
                                            - Atuar em projeto de controladores regulatórios e avançados a partir de
                                            estratégias previamente definidas.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimentos aprofundados em controle avançado de processos (e.x.: MPC,
                                            Fuzzy, Redes Neurais para controle, Sistema Especialista, etc.).<br>
                                            - Conhecimentos aprofundados em identificação de sistemas dinâmicos
                                            multivariáveis.<br>
                                            - Análise e sintonia de malhas de controle avançado multivariável.<br>
                                            - Projeto de controladores regulatórios e avançados a partir de estratégias
                                            previamente definidas.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência mínima de 5 anos em atividades correlatas.<br>
                                            Conhecimento de metodologias de gestão de projetos.<br>
                                            Habilidade para ministrar treinamento.<br>
                                            Ser capaz de orientar o engenheiro I
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>