<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Técnico de Automação Industrial</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#TEC2" role="tab"
                        aria-controls="pills-home" aria-selected="true">Técnico II</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#TEC3" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Técnico III</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="TEC2" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            Curso técnico de automação, eletrotecnico ou em graduação em curso de
                            engenharia e afins.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Atuar em projetos de automação industrial desenvolvendo lógicas de
                            intertravamento de CLPs, telas de supervisão (SCADA & HMI).<br>
                            - Dar apoio no campo para engenheiros de controle de sistemas industriais
                            para elaboração de estratégias de controle regulatório e avançado.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Ter participado de algum projeto de implemntação de um sistema de
                            automação industrial.<br>
                            - Ter conhecimento de programação de CLP ou ter experiência em
                            configuração de sistema SCADA.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            Experiência de 5 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="TEC3" role="tabpanel">
                    <h3>Formação Acadêmica</h3>
                    <div class="txt">
                        <p>
                            Curso técnico de automação, eletrotecnico ou em graduação em curso de
                            engenharia e afins.
                        </p>
                    </div>
                    <h3>Requisitos de Entrada</h3>
                    <div class="txt">
                        <p>
                            - Atuar em projetos de automação industrial desenvolvendo lógicas de
                            intertravamento de CLPs, telas de supervisão (SCADA & HMI).<br>
                            - Dar apoio no campo para engenheiros de controle de sistemas industriais
                            para elaboração de estratégias de controle regulatório e avançado.
                        </p>
                    </div>
                    <h3>Conhecimentos técnicos</h3>
                    <div class="txt">
                        <p>
                            - Ter executado um comissionamento e start-up.<br>
                            - Conhecimentos para desenhar e projetar uma solução de automação
                            industrial envolvendo CLP e SCADA.<br>
                            - Conhecimento de programação de CLP ou ter experiencia em configuração de
                            sistema SCADA.
                        </p>
                    </div>
                    <h3>Experiência</h3>
                    <div class="txt">
                        <p>
                            Experiência de 8 anos em atividades correlatas.
                        </p>
                    </div>
                    <h3>Competências Organizacionais</h3>
                    <div class="txt">
                        <p>
                            - Comunicação.<br>
                            - Orientação ao cliente.<br>
                            - Trabalho em equipe.<br>
                            - Orientação ao resultado.<br>
                            - Orientação a aprendizagem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>