<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Analista de Automação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="accordion">

                <!--Sistemas Industriais-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5>
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#csi">Controle de Sistemas Industriais</button>
                        </h5>
                    </div>
                    <div id="csi" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#csi1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#csi2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="csi1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            - Graduação em Engenharia de Controle e Automação, Elétrica, Eletrônica,
                                            Química ou Mecânica em curso.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem a configuração, sintonia e/ou
                                            desenvolvimento de alogoritmos de algoritmos de controle e otimização de
                                            processos.<br>
                                            - Apoiar a etapa de identificação do modelo elaboração e implantação dos
                                            controladores regulatórios e avançados para processos mono e multivariáveis.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimentos gerais em automação industrial (PLC's, DCS's, HMI &
                                            SCADA).<br>
                                            - Conhecimentos gerais em instrumentação (válvulas de controle, motores e
                                            VFDs).<br>
                                            - Leitura de P&IDs e diagramas elétricos.<br>
                                            - Conhecimentos gerais em redes industriais.<br>
                                            - Noções de programação orientada a objeto.<br>
                                            - Domínio de ao menos uma ferramenta para modelagem e simulação de processos
                                            (e.x.: Matlab/Simulink, Scilab/Scicos, etc).
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência mínima de 1 ano em atividades correlatas em estagiário.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="csi2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Graduação em Engenharia de Controle e Automação, Elétrica, Eletrônica,
                                            Química ou Mecânica concluída.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Atuar em projetos que necessitem a configuração, sintonia e/ou
                                            desenvolvimento de alogoritmos de algoritmos de controle e otimização de
                                            processos.<br>
                                            - Apoiar a etapa de identificação do modelo elaboração e implantação dos
                                            controladores regulatórios e avançados para processos mono e multivariáveis.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimentos gerais em automação industrial (PLC's, DCS's, HMI &
                                            SCADA).<br>
                                            - Conhecimentos gerais em instrumentação (válvulas de controle, motores e
                                            VFDs).<br>
                                            - Leitura de P&IDs e diagramas elétricos.<br>
                                            - Conhecimentos gerais em redes industriais.<br>
                                            - Noções de programação orientada a objeto.<br>
                                            - Domínio de ao menos uma ferramenta para modelagem e simulação de processos
                                            (e.x.: Matlab/Simulink, Scilab/Scicos, etc).
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência mínima de 2 anos em atividades correlatas em estágio.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Automação Industrial-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#autai">Automação Industrial</button>
                        </h5>
                    </div>
                    <div id="autai" class="collapse">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#autai1"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Analista I</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#autai2"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Analista II</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="autai1" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Formação acadêmica de nível superior em engenharia elétrica, eletrônica ou
                                            de controle e automação ou em curso.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Elaborar documentação básica de projetos de automação: lista de pontos,
                                            diagrama de interligação, desenho de arquitetura e memorial descritivo.<br>
                                            - Desenvolvimento de lógicas em linguagem IEC 61131-3.<br>
                                            - Elaborar especificação de equipamentos de automação: IHM, CLP, Relés.<br>
                                            - Propor utilização ferramentas para otimização das atividades rotineiras.
                                        </p>
                                    </div>
                                    <h3>Conhecimentos Técnicos</h3>
                                    <div class="txt">
                                        <p>
                                            - Conhecimentos e configuração de sistemas SCADA e configuração de
                                            alarmes.<br>
                                            - Conhecimentos de protocolos de comunicação indústrias e redes industrias.
                                            - Possuir habilidades com as ferramentas de desenho 2D tais com autocad,
                                            microstation e outros.<br>
                                            - Conhecimento sobre interfaces nos projetos de engenharia.
                                        </p>
                                    </div>
                                    <h3>Experiência</h3>
                                    <div class="txt">
                                        <p>
                                            Experiência mínima em atividades correlatas em nível de estagiário.
                                        </p>
                                    </div>
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="autai2" role="tabpanel">
                                    <h3>Formação Acadêmica</h3>
                                    <div class="txt">
                                        <p>
                                            Formação acadêmica de nível superior em engenharia elétrica, eletrônica ou de controle e automação.
                                        </p>
                                    </div>
                                    <h3>Requisitos de Entrada</h3>
                                    <div class="txt">
                                        <p>
                                            - Propor utilização ferramentas para otimização das atividades rotineiras.
                                        </p>
                                    </div>
                                    
                                    <h3>Competências Organizacionais</h3>
                                    <div class="txt">
                                        <p>
                                            - Comunicação.<br>
                                            - Orientação ao cliente.<br>
                                            - Trabalho em equipe.<br>
                                            - Orientação ao resultado.<br>
                                            - Orientação a aprendizagem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>